<h1>Data Evolution History, IMG</h1>

<h2>CDS Mapping for Replaced Genomes from Previous IMG versions 
-&gt;  Current IMG version</h2>

<p>
Periodically, genomes in IMG may undergo complete replacement when a draft genome becomes finished or when predicted gene models undergo major revision. However, for these replaced genomes, where possible, the gene object identifiers (gene OIDs) for the protein-coding genes (CDS) are mapped to their current version in IMG. Thus, 
</p>
<ul>
<li>
gene object identifiers (OIDs) of the previous version can be used to search for genes of the replaced genomes using Gene Search- the mapping of OIDs is transparent to users
</li>
<li>
a report of un-mapped CDS genes of the replaced genomes can be accessed from here. See links below. 
</li>
</ul>

<p>
Following outlines the mapping process.
</p>
<ol>
<li>Establish genome pairs to be mapped (taxon_oid of previous version 
-&gt; taxon_oid of current version).</li>

<li>Phase I:

<ol>
<li>Identify "multi-copy" genes (paralogs with 100% sequence match) within the same genome.</li>
<li>Exclude the multi-copy genes for each genome in the previous version.</li>
<li>Exclude the multi-copy genes in each genome in the current version.</li>
<li>In some cases the first letter in amino acid sequence representing start codon may be different in otherwise identical sequences. In order to avoid this problem the first letter is discarded for all amino aside sequences.</li>
<li>For each genome pair (previous vs current) of the remaining genes, identify the gene pairs with 100% AA sequence match. This is the result of 100% mapping using the full sequence extent (i.e using the maximal amino-acid residue to un-ambiguosly map the gene pairs - only singletons considered).</li>
<li>Subtract out the mapped gene pairs from above step and continue with the phase II of mapping process.</li>
</ol>

</li>

<li>Phase II:

<ol>
<li>From the remaining set, a "new sequence" for each unmapped gene is defined as 70 letters from the tail.</li>
<li>Exclude the so-called "multi-copy" genes from each genome using the 70 amino-acid residues from the tail, as matching criteria.</li>
<li>For each genome pair (previous vs current) of the remaining genes, identify the pairs with 100% AA sequence match of the 70 AA residues from the tail. This is the result of phase II mapping.  (i.e using the tail section of 70 amino-acid residue region to map the gene pairs ).</li>
<li>Note: phase II mapping may be less stringent compared to the phase 1 mapping step.</li>
</ol>

</li>
</ol>
<p>
The genes that could not mapped can be reviewed manually; a report of these 'un-mapped' genes can be accessed. See links below.
<br/>
__genome_delete_genes_list__
</p>

<p>
A summary report of the mapping is shown below:
</p>
__spreadsheet__


