<!-- Begin YUI headers -->

<!-- Individual YUI CSS files -->
<link rel="stylesheet" type="text/css" href="__yui_url__/build/paginator/assets/skins/sam/paginator.css">
<link rel="stylesheet" type="text/css" href="__yui_url__/build/datatable/assets/skins/sam/datatable.css">
<link rel="stylesheet" type="text/css" href="__yui_url__/build/container/assets/skins/sam/container.css" />
<link rel="stylesheet" type="text/css" href="__yui_url__/build/progressbar/assets/skins/sam/progressbar.css">
<link rel="stylesheet" type="text/css" href="__yui_url__/build/button/assets/skins/sam/button.css" />

<!-- Individual YUI JS files -->
<script type="text/javascript" src="__yui_url__/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="__yui_url__/build/connection/connection-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/history/history-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/element/element-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/paginator/paginator-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/json/json-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/animation/animation-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/container/container-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/progressbar/progressbar-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/dom/dom-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/button/button-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/autocomplete/autocomplete-min.js"></script>

<!-- End YUI headers -->

<!-- Other Javascript -->
<script type="text/javascript" src="__base_url__/selection.js"></script>
