<!-- Begin Data Table __table_id__-->

<div id="__table_id___section">
__bhm_container__
<input id="__table_id__-field" type="hidden">

<div id="__table_id___pbA" style="padding-bottom:3px;"></div>
<div id="__table_id___searchA" style="display:none">
    <label for="__table_id___search-listA">Filter column: </label>
    <select id="__table_id___search-listA" title="Column to which the filter term is applied"
            style="max-width:50%"></select>
    <label for="__table_id___search-inputA" style="padding-left:5px;">Filter </label>
       <select id="__table_id___search-typeA" title="Plain text or regular expression">
         <option value="text" title="Plain text search">text</option>
         <option value="regex" title="Regular expression search">regex</option>          
       </select>:
       <input id="__table_id___search-inputA" type="text"
          style="vertical-align:bottom; height: 13px;" title="Word or phrase to filter by">
       <span id="__table_id___filter-apply"></span>
       <a href="" onClick="return false;"><img id="__table_id___search-tipA" border=0
               src="__base_url__/images/question.png"></a>
       <span id="__table_id___filter-error" style="font-size:8pt;color:red;"></span>
    <div id="__table_id___ac_containerA"></div>
</div>

<div id="__table_id__-navA" style="margin-bottom:0px;"></div>
<div id="__table_id__"></div>
<div id="__table_id__-navB" style="margin-bottom:2px;padding-top:2px;"></div>
<div id="__table_id___pbB"></div>

<div id="__table_id__-dt-dlg">
    <span class="corner_tr"></span>
    <span class="corner_tl"></span>
    <span class="corner_br"></span>
    <span class="corner_bl"></span>
    <div class="hd">
        Show or Hide columns in this table
    </div>
    <div id="__table_id__-dt-dlg-picker" class="bd">
    </div>
</div>

<style type="text/css">
/* Style for datatable __table_id__ */

#__table_id__, #__table_id__-navA, #__table_id__-navB, #__table_id__ td,
#__table_id__ th, #content p, #statline, #colTip__table_id__.yui-overlay .bd,
.yui-pb-mask .bd, #modalwait.yui-panel .bd,  #modalwait.yui-panel .hd,
.yui-skin-sam .yui-button button, #__table_id__-navA-Export .bd,
#filterTip___table_id__.yui-overlay .bd,
#__table_id__-navB-Export .bd, #__table_id___searchA label {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 12px;
}

.pb {
    text-align:right;
    color:#99BBCC;
    font-weight:bold;
}

.yui-skin-sam .yui-dt-coltarget {
    width:5px;
    background-color:#003366;
}

div#content_other {
    width:940px;
}

.yui-skin-sam .yui-pg-current {
    margin-left:0;
}

#__table_id__-SelectPage, #__table_id__-DeselectPage {
    margin-top:0.5em;
    margin-bottom:0.25em;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size:12px;
}

#__table_id__-navA-Export, #__table_id__-navB-Export{
    margin-left:1px;
    margin-right:1em;
}

.yui-skin-sam .yui-button button {
    padding:0px 10px 2px 10px;
    min-height:0;
    height: 20px;
    line-height:1.7;
}

.yui-button .first-child {
    padding-bottom:2px;
}

#__table_id__-ColumnSelector  {
    margin-left:1px;
    margin-right:20px;
    margin-bottom:-1px;
    margin-top:0.25em;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size:12px;
}

#__table_id__-ColumnSelector button {
    padding-top:3px;
    padding-bottom:4px;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size:10px;
    height:24px
}

#__table_id__-apply-button {
    height:17px;
    border-width:1px;
    border-radius:3px;
}

#__table_id__-apply-button button{
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size:11px;
    vertical-align:text-top;
    margin-top:-2px;
}

#__table_id__-apply-button .first-child {
    border-width:0;
}

#__table_id__-bhm {
  position:absolute;
  top:0; left:0;
  width:1px; height:1px; /* avoid scrollbars */
  visibility:hidden;
}

#modalwait.yui-panel .bd {
   background-image:url("__base_url__/images/yui_progressbar.gif");
   background-repeat:no-repeat;
   background-position:center;
   height:30px;
}

#filterTip___table_id__.yui-panel .bd {
    background-color: #FFEE69;
    border-color: #D4C237 #A6982B #A6982B;
    border-style: solid;
}


/* custom styles for column selector */
#dt-example {width:45em;margin:0 auto;}
#dt-options {text-align:right;margin:1em 0;}
#__table_id__-dt-dlg {visibility:hidden;border:1px solid #808080;background-color:#E3E3E3;
	 font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;}
#__table_id__-dt-dlg .hd {font-weight:bold;padding:1em;background:none;background-color:#E3E3E3;border-bottom:0;}
#__table_id__-dt-dlg .ft {text-align:right;padding:.5em;background-color:#E3E3E3;}
#__table_id__-dt-dlg .bd {height:10em;margin:0 1em;overflow:auto;border:1px solid black;background-color:white;}
#__table_id__-dt-dlg .dt-dlg-pickercol {clear:both;padding:.5em 1em 2em;border-bottom:1px solid gray;}
#__table_id__-dt-dlg .dt-dlg-pickerkey {float:left;font-size: 12px;font-weight:bold;}
#__table_id__-dt-dlg .dt-dlg-pickerbtns {float:right;}

/* Container workarounds for Mac Gecko scrollbar issues */
.yui-panel-container.hide-scrollbars #__table_id__-dt-dlg .bd {
    /* Hide scrollbars by default for Gecko on OS X */
    overflow:hidden;
}

.yui-panel-container.show-scrollbars #__table_id__-dt-dlg .bd {
    /* Show scrollbars for Gecko on OS X when the Panel is visible  */
    overflow:auto;
}

#__table_id__-dt-dlg_c .underlay {overflow:hidden;}

/* rounded corners */
#__table_id__-dt-dlg .corner_tr {
    background-image:url("__yui_url__/examples/datatable/assets/img/tr.gif");
    position:absolute;
    background-repeat:no-repeat;
    top:-1px;
    right:-1px;
    height:4px;
    width:4px;
}

#__table_id__-dt-dlg .corner_tl {
    background-image:url("__yui_url__/examples/datatable/assets/img/tl.gif");
    background-repeat:no-repeat;
    position:absolute;
    top:-1px;
    left:-1px;
    height:4px;
    width:4px;
}

#__table_id__-dt-dlg .corner_br {
    background-image: url("__yui_url__/examples/datatable/assets/img/br.gif");
    position:absolute;
    background-repeat:no-repeat;
    bottom:-1px;
    right:-1px;
    height:4px;
    width:4px;
}

#__table_id__-dt-dlg .corner_bl {
    background-image:url("__yui_url__/examples/datatable/assets/img/bl.gif");
    background-repeat:no-repeat;
    position:absolute;
    bottom:-1px;
    left:-1px;
    height:4px;
    width:4px;
}

.inprogress {position:absolute;} /* transitional progressive enhancement state */

.yui-skin-sam .yui-dt .img-col-wrap .yui-dt-liner {
    white-space:normal;
}

.yui-skin-sam .yui-dt .img-col-nowrap .yui-dt-liner {
    white-space:nowrap;
}
__col_styles__
</style>

<script type="text/javascript">
IMG___table_id__ = function() {
    //Set the skin for entire page
    document.getElementsByTagName('body')[0].className = 'yui-skin-sam';

    bArInit = false;
    var bChkInit = false;
    oIMGTable___table_id__ = null;
    var sPageTitle = document.title;
    var glRowsPerPage;
    var uniqueId = "__unique_id__";
    var filtCol  = "__filtCol__";
    var filtTerm = "__filtTerm__";
    var filtType = "__filtType__";

    if (filtTerm) { //filter term from previous session exists
	    var obj = {};
	    obj.tableId = "__table_id__";
	    obj.uniqueId = uniqueId;
	    obj.col  = filtCol;
	    obj.term = filtTerm;
	    obj.type = filtType;
	    obj.pageLoad = true;
	    setFilt(obj);
    }

    YAHOO.util.Event.onDOMReady(function () {
	    displayWait(true, "Retrieving data");

	    window.onbeforeunload = winUnload;
	    var oSelAll = document.getElementsByName('selectAll');
	    if (document.getElementsByName ('mainForm').length != 0) {
            if (document.getElementsByName ('mainForm')[0].id == "")
		        document.getElementsByName ('mainForm')[0].id = '__form_id__';
	    }
	    else if (oSelAll.length > 0) {
	        if (oSelAll[0].parentNode.tagName == "FORM")
		        oSelAll[0].parentNode.id = '__form_id__';
	        else
		        alert ('Unable to detect mainform. Buttons may not work as expected.');
	    }

	    setOnClick ('selectAll', 'Select All','__table_id__', 1);
	    setOnClick ('clearAll', 'Clear All','__table_id__', 0);
	    setInverseOnClick ('__table_id__');

	    setupRemoveDups('__form_id__', '__table_id__');
	    setupSearchList('__table_id___search-listA', myColumnDefs, "__init_sort_field__");

	    var hideFilter = __hide_filter_line__;
	    if (!hideFilter) { // show filter line only if true
	        var elFilter = document.getElementById("__table_id___searchA");
	        elFilter.style.display = "block";
	        var oSearch = new YAHOO.util.FunctionDataSource(getTerms);
	        var oPullDown = document.getElementById('__table_id___search-listA');
	        var oType = document.getElementById('__table_id___search-typeA');
	        var oInput = document.getElementById('__table_id___search-inputA');

	        var onFilter = function () {
		        oSearch.sendRequest(oInput.value);
	        };

	        oInput.value = getQueryStr("f");
	        if (oInput.value != "") {
		        oPullDown.value = getQueryStr("c");
		        oType.value = getQueryStr("t");
	        } else {
		        var oFilt = {};
		        oFilt.table = uniqueId;
		        getFilt(oFilt); // get filter term from cookie
		        if (oFilt.term != undefined
		        && oFilt.col != undefined
		        && oFilt.type != undefined) {
		            oPullDown.value = oFilt.col;
		            var oIMG = oIMGTable___table_id__;
		            // if column exists
		            if (oPullDown.value == oFilt.col) {
			            oType.value = oFilt.type;
			            oInput.value = unescape(oFilt.term);
		            } else {
			            setMissingFiltCol(oFilt);
		            }
		        }
	        }

	        var onEnter = function (e) {
		        if (e.keyCode == 13) //Enter key pressed
		            oSearch.sendRequest(oInput.value);
	        };

	        YAHOO.util.Event.addListener(oPullDown, "change", onFilter);
	        YAHOO.util.Event.addListener(oType, "change", onFilter);
	        YAHOO.util.Event.addListener(oInput, "keydown", onEnter);
	        setupSearchToolTip('__table_id__');
	        setupSearchApplyBtn('__table_id__', onFilter);
	        document.onkeypress = stopEnterKey;
	    }
    });

    // Column definitions
    var myColumnDefs = [ // sortable:true enables sorting
        __col_defs__
    ];

    // DataSource instance
    var myDataSource = new YAHOO.util.DataSource("json_proxy.cgi?sid=__array_file__&cached_session=__cached_session__&");

    myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSON;
    myDataSource.responseSchema = {
        resultsList: "records",
        fields: [
            __row_defs__
        ],
        metaFields: {
            totalRecords : "totalRecords", // Access to value in the server response
	        checked : "checked",
	        filtChecked : "filtChecked",
            paginationRecordOffset : "startIndex",
            paginationRowsPerPage : "pageSize",
            sortKey : "sort",
            sortDir : "dir"
        }
    };

    myDataSource.subscribe ("dataErrorEvent", function (oArgs) {
	    var resp = oArgs.response.responseText;
	    if (resp.match(/^###/)) {
	        showFilterError(oIMGTable___table_id__, resp);
	    } else {
	        showFilterError(oIMGTable___table_id__,"");
	    }
    });

    var myAllSelectData;
    myDataSource.doBeforeParseData = function(oRequest, oFullResponse, oCallback) {
        //alert("oFullResponse.allSelect=" + oFullResponse.allSelect);
    	if ( oFullResponse.allSelect != null && oFullResponse.allSelect != undefined && oFullResponse.allSelect.length > 0 ) {
            myAllSelectData = oFullResponse.allSelect;
            //alert("myAllSelectData=" + myAllSelectData);
    	}
        return oFullResponse;
    };
    
    //Define a paginator
    var iDefaultRows = "__rows_per_page__";
    var myPaginator = new YAHOO.widget.Paginator({
        containers: ["__table_id__-navA", "__table_id__-navB"],
	    template: "{CurrentPageReport}{FirstPageLink}{PreviousPageLink}{PageLinks}" +
	          "{NextPageLink}{LastPageLink}{RowsPerPageDropdown}",
	    pageReportTemplate: "Page {currentPage} of {totalPages}",
	    rowsPerPageOptions: [
	          { value:10, text:"10" },
	          { value:25, text:"25" },
	          { value:50, text:"50" },
	          { value:100, text:"100" },
	          { value:500, text:"500" },
	          { value:1000, text:"1,000" },
	          { value:__max_rows_num__, text:"__max_rows_txt__" }
	    ],
	    rowsPerPage: iDefaultRows
    });

    // DataTable configuration
    var myConfigs = {
        dynamicData: true, // Enables dynamic server-driven data
        initialLoad : false,
        draggableColumns: true, //Enable drag and drop columns
	    MSG_LOADING: "<span style='color:red;font-style:italic;" +
               "text-decoration:blink'>Sorting and Paginating ...</span>",
        paginator: __paginator__
    };

    // DataTable instance
    var myDataTable = new YAHOO.widget.DataTable("__table_id__", myColumnDefs, myDataSource, myConfigs);
    // Show loading message while page is being rendered
    myDataTable.showTableMessage(myDataTable.get("MSG_LOADING"));

    /****** start column selector ******/
    var newCols = true;
    var showDlg = function(e) {
        YAHOO.util.Event.stopEvent(e);

        if (newCols) {
            // Populate Dialog
            // Using a template to create elements for the SimpleDialog
            var allColumns = myDataTable.getColumnSet().keys;
            var elPicker = YAHOO.util.Dom.get("__table_id__-dt-dlg-picker");
            var elTemplateCol = document.createElement("div");
            YAHOO.util.Dom.addClass(elTemplateCol, "dt-dlg-pickercol");
            var elTemplateKey = elTemplateCol.appendChild(document.createElement("span"));
            YAHOO.util.Dom.addClass(elTemplateKey, "dt-dlg-pickerkey");
            var elTemplateBtns = elTemplateCol.appendChild(document.createElement("span"));
            YAHOO.util.Dom.addClass(elTemplateBtns, "dt-dlg-pickerbtns");
            var onclickObj = {fn:handleButtonClick, obj:this, scope:false };

            // Create one section in the SimpleDialog for each Column
            var elColumn, elKey, elButton, oButtonGrp;
            for (var i=0,l=allColumns.length;i<l;i++) {
                var oColumn = allColumns[i];
        		// Don't show Select column
        		if (oColumn.key.match(/(^Select$|^Selection$)/gi))
        		    continue;
                // Use the template
                elColumn = elTemplateCol.cloneNode(true);

                // Write the Column key
                elKey = elColumn.firstChild;
        		var colLabel = oColumn.label.replace(/<br\s*\/{0,1}>/gi, " ");
        		colLabel = colLabel.replace(/<sup>.*<\/sup>/gi, "");
                elKey.innerHTML = colLabel;
                // Create a ButtonGroup
                oButtonGrp = new YAHOO.widget.ButtonGroup({
                    id: "buttongrp"+i,
                    name: oColumn.getKey(),
                    container: elKey.nextSibling
                });
                oButtonGrp.addButtons([
                    { label: "Show", value: "Show", checked: ((!oColumn.hidden)), onclick: onclickObj},
                    { label: "Hide", value: "Hide", checked: ((oColumn.hidden)), onclick: onclickObj}
                ]);

                elPicker.appendChild(elColumn);
            }
            newCols = false;
        }
        myDlg.show();
    };
    
    var hideDlg = function(e) {
        this.hide();
    };
    
    var handleButtonClick = function(e, oSelf) {
        var sKey = this.get("name");
        if(this.get("value") === "Hide") {
            // Hides a Column
            myDataTable.hideColumn(sKey);
        }
        else {
            // Shows a Column
            myDataTable.showColumn(sKey);
        }
    	oIMGTable___table_id__.resizeBars();
    };

    // Create the SimpleDialog
    YAHOO.util.Dom.removeClass("__table_id__-dt-dlg", "inprogress");
    var myDlg = new YAHOO.widget.SimpleDialog("__table_id__-dt-dlg", {
        width: "32em",
    	visible: false,
    	modal: true,
    	buttons: [
    	    { text:"Close",  handler:hideDlg }
        ],
        fixedcenter: true,
    	zIndex: 11,
        constrainToViewport: true
    });
    myDlg.render();

    /****** end column selector ******/

    // Set up search term
    var getTerms = function(query) {
    	var strQuery = unescape(query);
    	strQuery =  strQuery.replace(/^\s+|\s+$/g,"");
    	var col = document.getElementById('__table_id___search-listA').value;
    	var type = document.getElementById('__table_id___search-typeA').value;
    	var oInput = document.getElementById('__table_id___search-inputA');
    
    	if (oInput)
    	    oInput.value = strQuery;
    
    	var obj = {};
    	obj.table = uniqueId;
    	getFilt(obj);
    	if (!obj.term && !strQuery) return; //return if empty
    	if ((obj.term == strQuery) &&
    	    (obj.col == col) &&
    	    (obj.type == type)) {
    	       return; //return if same
    	}

    	var oIMG = oIMGTable___table_id__;
    	var state = myDataTable.getState();
    	var reqUrl = generateRequest(0, state.sortedBy.key, state.sortedBy.dir,
    	    glRowsPerPage, document.getElementById('__table_id___search-listA').value,
    	    query, document.getElementById('__table_id___search-typeA').value);
    	var myCallId = new Date().getTime(); // override cache
    	reqUrl += "&call=" + myCallId;
    	showFilterError(oIMG, "");
    	myDataTable.showTableMessage("<span style='color:red;font-style:italic;" +
    	"text-decoration:blink'>Filtering ...</span>");
    	oIMG.justFiltered = true; // flag that request was made by search
    	if (oIMG) {
    	    oIMG.ExportA.set("disabled", true);
    	    oIMG.ExportB.set("disabled", true);
    	}
    	if (oIMG.selPage)
    	    oIMG.selPage.set("disabled", true);
    	if (oIMG.deSelPage)
    	    oIMG.deSelPage.set("disabled", true);
    	if (oIMG.isPBarsActive()) {
    	    saveChk(oIMG, {
        		success : function () {
        		    oIMG.dirtyChkBoxes = {};
        		    requestData(reqUrl);
        		},
        		scope : getTerms
    	    });
    	} else {
    	    requestData(reqUrl);
    	}
    };

    myDataTable.subscribe("checkboxClickEvent", function(oArgs){
        var oIMGTable = oIMGTable___table_id__;
        var i, sHTML = "";
    	var elCheckbox = oArgs.target;
    	var bChkVal = elCheckbox.checked;
    	var oRecord = this.getRecord(elCheckbox);
    	var iRowId = oRecord.getData('_img_yuirow_id');
    	var tmpNode = elCheckbox.cloneNode(true);
    	var tmpParent = document.createElement('div');
    
    	var tempDivId = oIMGTable.tableId + "_hid_chk";
    	var tempDiv = document.getElementById(tempDivId);
    
    	tmpNode.defaultChecked = bChkVal;
    	tmpParent.appendChild(tmpNode);
    	oIMGTable.checkBoxArray[iRowId] = tmpParent.innerHTML;
    	oIMGTable.dirtyChkBoxes[iRowId] = (bChkVal) ? 1:0;

    	if (oIMGTable.total < 1) return;

    	var elHid = document.getElementById(elCheckbox.name + "-" + elCheckbox.value);
    	if (elCheckbox.checked) {
    	   oIMGTable.rows++;
    	    if (tempDiv == undefined) {
    	        tempDiv = document.createElement('div');
        		tempDiv.id = tempDivId;
        		oIMGTable.form.appendChild(tempDiv);
    	    }
    	    tempDiv.appendChild(hidEl(elCheckbox.name, elCheckbox.value));
    	} else {
    	   oIMGTable.rows--;
    	   if (elHid != undefined)
    	      elHid.parentNode.removeChild(elHid);
    	}
    
    	if (!myDataTable.configs.paginator) return;
    
    	if (oIMGTable.rows <= 0) {
    	    disableFormEl(1, oIMGTable);
    		oIMGTable.updateBars();
    	    var sDelay = function () { clearPB(oIMGTable); };
    	    oIMGTable.onBarsDone(sDelay, 500);
    	} else {
    	    oIMGTable.createBars(true);
    	    oIMGTable.animateBars(0.5);
    	    oIMGTable.updateBars();
    	}
    });

    var colIDs = function() {
        var i=0, iCnt;
        var toolTipIds = [];
    	var colDefs = myDataTable.getColumnSet().getDefinitions();

    	for (iCnt in colDefs) {
    	    if (myDataTable.getColumn(colDefs[iCnt].key).toolTip != "") {
    		toolTipIds[i] =  myDataTable.getColumn(colDefs[iCnt].key).getThEl().id;
    		var elLiner =  myDataTable.getColumn(colDefs[iCnt].key).getThLinerEl();
    		var elSort = elLiner.getElementsByTagName("a");
    		if (elSort.length > 0 &&  elSort !== null)
    		    elSort[0].title = "";
    		i++;
    	    }
    	}
    	return toolTipIds;
    };

    var colTip__table_id__;
    function setupToolTip () {
        colTip__table_id__ = new YAHOO.widget.Tooltip("colTip__table_id__", {
	    context:colIDs(),
	    effect:{effect:YAHOO.widget.ContainerEffect.FADE,duration:0.30}
	});

	// Set the text for the tooltip just before we display it.
	colTip__table_id__.contextTriggerEvent.subscribe(
        function(type, args) {
    	    var context = args[0];
    	    var textValue = context.id.substring(context.id.lastIndexOf("-") + 1);
    	    this.cfg.setProperty("text", myDataTable.getColumn(textValue).toolTip);
    	});
    };

    myDataTable.subscribe("postRenderEvent",function (oArgs) {
    	setupToolTip();
    	var oIMG = oIMGTable___table_id__;

    	var tableTitle = document.getElementsByTagName("h1").length > 0 ?
    	    document.getElementsByTagName("h1")[0].innerHTML : "";
    	tableTitle = tableTitle.replace(/<br\s*\/{0,1}>/gi, " "); //remove <br> and variations

    	if (!bArInit) {
    	    if (tableTitle)
    		// Disable changing page title
    		// document.title += " - " + tableTitle;
    	    bArInit = true;
    	}

        if (!oIMG) {
    	    displayWait(false);
    	    return;
    	}

    	oIMG.resizeBars();
    	oIMG.coldefs = myDataTable.getColumnSet().getDefinitions();

    	var oSortedBy = myDataTable.get("sortedBy");
    	var sortCol = oSortedBy ? oSortedBy.key : "";
    	var sortDir = oSortedBy ? oSortedBy.dir.substring(7) : "";
    	oIMG.sort = sortCol + "|" + sortDir;
    
    	var tableTitle = document.getElementsByTagName("h1").length > 0 ?
    	    document.getElementsByTagName("h1")[0].innerHTML : "";
    
    	var tipText = "Save selected rows from this table as an Excel spreadsheet or tab delimited file";
    	if (tableTitle.match(/cart/gi))
    	    tipText += ".<br><b>DO NOT use this button to save a cart for future upload.</b>";
    
    	// Create YUI buttons if they don't exist already
    	oIMG.ExportA = oIMG.ExportA || createButton (oIMG.tableId + "-navA",
    	                 "Export", oIMG, onButton, tipText);
    	oIMG.ExportB = oIMG.ExportB || createButton (oIMG.tableId + "-navB",
    	                 "Export", oIMG, onButton, tipText);
    
    	var hideExpBtns = __hide_export_buttons__;
    	if (hideExpBtns) {
    	    oIMG.ExportA.get("element").style.display = "none";
    	    oIMG.ExportB.get("element").style.display = "none";
    	}
    
    	var hideSelectPage = __hide_selectpage__;
    	// Does the table have select column (checkboxes) or pagination?
    	if (hasSelectCol(oIMG) && !oIMG.nopage && !hideSelectPage) {
    	    oIMG.deSelPage = oIMG.deSelPage || createButton (oIMG.tableId,
    	       "Deselect Page", oIMG, selectPage, "Clear all selected rows on this page only");
    	    oIMG.selPage = oIMG.selPage || createButton (oIMG.tableId,
    	       "Select Page", oIMG, selectPage, "Select rows on this page only");
    	}
    	var hideColSelBtn = __hide_column_selector__;
    	if (!hideColSelBtn) {
    	    oIMG.colSel = oIMG.colSel || createButton (oIMG.tableId, "Column Selector",
    			  oIMG, showDlg, "Show or hide columns");
    	}
    });

    // Integrate with Browser History Manager
    var History = YAHOO.util.History;

    // Define a custom function to route sorting through the Browser History Manager
    var handleSorting = function (oColumn) {
        // Calculate next sort direction for given Column
        var sDir = this.getColumnSortDir(oColumn);

        // The next state will reflect the new sort values
        // while preserving existing pagination rows-per-page
        // As a best practice, a new sort will reset to page 0

	if (myDataTable.configs.paginator) {
	    var rowsPerPage = this.get("paginator").getRowsPerPage();
	} else { // use total length of records if no paginator
	    var rowsPerPage = this.getRecordSet().getRecords().length;
	}
	var colField = document.getElementById('__table_id___search-listA').value;
	var colSearch = document.getElementById('__table_id___search-inputA').value;
	var colType = document.getElementById('__table_id___search-typeA').value;

	if (colSearch == "") {
	    document.getElementById('__table_id___search-listA').value = oColumn.key;
	}

	var newState = generateRequest(0, oColumn.key, sDir, rowsPerPage,
				       colField, colSearch, colType);

	myDataTable.showTableMessage("<span style='color:red;font-style:italic;" +
	"text-decoration:blink'>Sorting ...</span>");

        // Pass the state along to the Browser History Manager
        History.navigate("__table_id__", newState);
    };

    myDataTable.sortColumn = handleSorting;

    // Define a custom function to route pagination through the Browser History Manager
    var handlePagination = function(state) {
        // The next state will reflect the new pagination values
        // while preserving existing sort values
        // Note that the sort direction needs to be converted from DataTable format to server value

    	glRowsPerPage = state.rowsPerPage;
    	if (state.rowsPerPage > state.totalRecords) {
    	    var dropDowns = YAHOO.util.Dom.getElementsByClassName(
    	        myPaginator.get('rowsPerPageDropdownClass'), "select");
    	    for (var i in dropDowns ) { // change drop down value to "All"
    	        dropDowns[i].selectedIndex = dropDowns[i].length - 1;
    	    }
    	    if (state.totalRecords == myPaginator.getRowsPerPage()) {
    	        return;
    	    } else {
    	        state.rowsPerPage = "All"
    	    }
    	}
        var sortedBy = this.get("sortedBy");
    	var sortKey = sortedBy ? sortedBy.key : "";
    	var sortDir = sortedBy ? sortedBy.dir : "";
    
    	var colField = document.getElementById('__table_id___search-listA').value;
    	var colSearch = document.getElementById('__table_id___search-inputA').value;
    	var colType = document.getElementById('__table_id___search-typeA').value;

        var newState = generateRequest(state.recordOffset, sortKey, sortDir,
				       state.rowsPerPage, colField, colSearch, colType);

    	myDataTable.showTableMessage("<span style='color:red;font-style:italic;" +
    	"text-decoration:blink'>Paginating ...</span>");

        // Pass the state along to the Browser History Manager
        History.navigate("__table_id__", newState);
    };

    // First we must unhook the built-in mechanism...
    myPaginator.unsubscribe("changeRequest", myDataTable.onPaginatorChangeRequest);
    // ...then we hook up our custom function
    myPaginator.subscribe("changeRequest", handlePagination, myDataTable, true);

    myDataTable.subscribe("columnReorderEvent", 
        function(oArgs, oArgs2){
        	colTip__table_id__.destroy();
        	setupToolTip();
            newCols = true;
            YAHOO.util.Event.purgeElement("__table_id__-dt-dlg-picker", true);
            YAHOO.util.Dom.get("__table_id__-dt-dlg-picker").innerHTML = "";
        }, 
        this, 
        true);

    myDataTable.subscribe("columnResizeEvent", function(oArgs, oArgs2){
        oIMGTable___table_id__.resizeBars();
    });

    // Update payload data on the fly for tight integration with latest values from server
    myDataTable.doBeforeLoadData = function(oRequest, oResponse, oPayload) {
	    var oIMG = oIMGTable___table_id__;
        var meta = oResponse.meta;
	    if (oIMG && !oResponse.error)
	        setFilt(oIMG); // save filter term to a cookie if no error

        oPayload.totalRecords = meta.totalRecords || oPayload.totalRecords;
        oPayload.pagination = {
            rowsPerPage: meta.paginationRowsPerPage || iDefaultRows,
            recordOffset: meta.paginationRecordOffset || 0
        };

        oPayload.sortedBy = {
            key: meta.sortKey || "__init_sort_field__",
	        // Convert from server value to DataTable format
            dir: (meta.sortDir) ? "yui-dt-" + meta.sortDir : "yui-dt-__init_sort_dir__"
        };
    	displayWait(false);
	    if (myDataTable) {
	        if (oIMG == null) {
	            //alert("datatable.html myDataSource=" + myAllSelectData);	            
                //alert("datatable.html myAllSelectData.length=" + myAllSelectData.length);
		        var curForm = document.getElementById('__table_id___frm');
		        var sFormId = curForm ? curForm.id : '__form_id__'; // multiple YUI tabs with tables
		        oIMGTable___table_id__ = new IMGTable('__table_id__', sFormId, '__array_file__',
					 oPayload.totalRecords, myDataTable, uniqueId, myAllSelectData);
	        } else {
		        oIMG.total = oPayload.totalRecords || 0;
		        if (oIMG.isPBarsActive()) {
		            if (oIMG.total < 1) {
			            oIMG.updateBars();
			            oIMG.rows = 0;
		            }
		            if (oIMG.justFiltered) {
			            checkAll (1, oIMG, myDataTable, 1, null);
			            oIMG.justFiltered = false;
		            }
		        } else if (meta.checked > 0) { // checked rows not in current filter set
		            if (oIMG.justFiltered) {
			            checkAll (1, oIMG, myDataTable, 1, null);
			            oIMG.justFiltered = false;
		            }
		        }
		        if (oIMG.selPage)
		            oIMG.selPage.set("disabled", false);
		        if (oIMG.deSelPage)
		            oIMG.deSelPage.set("disabled", false);

    		    if (oIMG.ExportA) {
	    	        oIMG.ExportA.set("disabled", false);
		            oIMG.ExportB.set("disabled", false);
		        }
	        }
 	    }
        return true;
    };

    // Returns a request string for consumption by the DataSource
    var generateRequest = function(startIndex,sortKey,dir,
				   results,searchCol,searchTerm, searchType) {
    	if (oIMGTable___table_id__) {
    	    if (oIMGTable___table_id__.total > 15000) {
    		    displayWait(true, "Retrieving data");
    	    }
    	}
    	if (searchTerm == undefined) {
    	    var oSearch = {};
    	    oSearch.table = uniqueId;
    	    getFilt(oSearch); // get filter term from cookie
    	    if (oSearch.term != undefined
    		    && oSearch.col != undefined
    	        && oSearch.type != undefined) {
    		    searchTerm = oSearch.term;
    		    searchCol = oSearch.col;
    	    	searchType = oSearch.type;
    	    }
    	}
        startIndex = startIndex || 0;
        sortKey = sortKey || "__init_sort_field__";
	    // Converts from DataTable format "yui-dt-[dir]" to server value "[dir]"
        dir = (dir) ? dir.substring(7) : "__init_sort_dir__";
        results = results || iDefaultRows;
    	searchCol = searchCol || '';
    	searchTerm = searchTerm || '';
    	searchType = searchType || '';
    	return "results=" +results+"&startIndex="+
    	    startIndex+"&sort="+sortKey+"&dir="+dir+"&c="+searchCol+
    	    "&f="+escape(searchTerm)+"&t="+searchType;
    };

    var requestData = function (sUrl) {
 	    var myCallId = new Date().getTime(); // override cache
	    sUrl += "&callid=" + myCallId;
        // Sends a new request to the DataSource
        myDataSource.sendRequest(sUrl,{
             success : myDataTable.onDataReturnSetRows,
             failure : myDataTable.onDataReturnSetRows,
             scope   : myDataTable,
             argument : {} // Pass in container for population at runtime via doBeforeLoadData
        });
    };

    // Called by Browser History Manager to trigger a new state
    var handleHistoryNavigation = function (request) {
    	var oIMG = oIMGTable___table_id__;
    	var hist = unescape(document.getElementById('__table_id__-field').value);
            // Show loading message only if no message present already
    	if (myDataTable.getMsgTbodyEl().style.display == "none") {
    	    var urlHash = window.location.hash.substring(1)
    	    if (urlHash.length > 0) { // has something after '#' in url
        		if (urlHash.search(/=/g) > 1) {  // NOT called by clicking an anchor
        		    myDataTable.showTableMessage("<span style='color:red;font-style:italic;" +
        		    "text-decoration:blink'>Retrieving browser history ...</span>");
        		}
    	    }
    
    	    var oSearch = document.getElementById(oIMG.tableId + '_search-inputA');
    	    if (!oSearch.value) 
        		oSearch.value = getQueryStr("f");
    	    var oPullDown = document.getElementById(oIMG.tableId + '_search-listA');
    	    if (oSearch.value == "") {
        		oPullDown.value = getQueryStr("sort", request);
    	    } else {
        		oPullDown.value = getQueryStr("c") || oPullDown.value;
    	    }
    	    var oType = document.getElementById(oIMG.tableId + '_search-typeA');
    	    oType.value = getQueryStr("t");
    	} else { // NOT from clicking browser backward/forward
    	    if (oIMG) {
        		if (oIMG.selPage)
        		    oIMG.selPage.set("disabled", true);
        		if (oIMG.deSelPage)
        		    oIMG.deSelPage.set("disabled", true);
        
        		oIMG.ExportA.set("disabled", true);
        		oIMG.ExportB.set("disabled", true);
    	    }
    	}
    
    	if (oIMG) {
    	    if (myObjSize(oIMG.dirtyChkBoxes) > 0) {
        		saveChk(oIMG, {
        		    success : function () {
        			oIMG.dirtyChkBoxes = {};
        			requestData (request);
        		    },
        		    scope : handleHistoryNavigation
        		});
    	    } else {
        		requestData (request);
    	    }
    	} else {
    	    requestData (request);
    	}
    };

    // Calculate the first request
    var initialRequest = History.getBookmarkedState("__table_id__") || // Passed in via URL
                       generateRequest(); // Get default values

    // Register the module
    History.register("__table_id__", initialRequest, handleHistoryNavigation);

    // Render the first view
    History.onReady(function() {
        // Current state after BHM is initialized is the source of truth for what state to render
        var currentState = History.getCurrentState("__table_id__");
        handleHistoryNavigation(currentState);
    });

    // Initialize the Browser History Manager.
    YAHOO.util.History.initialize("__table_id__-field", "__table_id__-bhm");

}();
</script>

</div>
<!-- End Data Table __table_id__-->
