		<h1>Disclaimers and Copyright</h1>
                    <h2>NOTICE:</h2> 

                  <p>Information from this server resides on a computer system 

                  funded by the U.S. Department of Energy. Anyone using this 

                  system consents to monitoring of this use by system or security 

                  personnel. </p>
 
                  <h3>Disclaimer of Liability </h3> 
				  
				  <p>With respect to documents 

                    available from this server, neither the United States Government 

                    nor the University of California nor any of their employees, 

                    makes any warranty, express or implied, including the warranties 

                    of merchantability and fitness for a particular purpose, or 

                    assumes any legal liability or responsibility for the accuracy, 

                    completeness, or usefulness of any information, apparatus, 

                    product, or process disclosed, or represents that its use 

                    would not infringe privately owned rights. </p>

 
                  <h3>Disclaimer of Endorsement </h3> 
				  <p>Reference herein to any 

                    specific commercial products, process, or service by trade 

                    name, trademark, manufacturer, or otherwise, does not necessarily 

                    constitute or imply its endorsement, recommendation, or favoring 

                    by the United States Government or the University of California. 

                    The views and opinions of authors expressed herein do not 

                    necessarily state or reflect those of the United States Government 

                    or the University of California, and shall not be used for 

                    advertising or product endorsement purposes. </p>
                  <h3>Copyright Status </h3> 
                  <p>Joint Genome Institute authored documents 
                    are sponsored by the U.S. Department of Energy under Contracts 
		    W-7405-Eng-48,
                    DE-AC02-05CH11231, and W-7405-ENG-36. 
		    Accordingly, 
                    the U.S. Government retains a nonexclusive, royalty-free license 
                    to publish or reproduce these documents, or allow others to 
                    do so, for U.S. Government purposes. All documents available 
                    from this server may be protected under the U.S. and Foreign 
                    Copyright Laws and permission to reproduce them may be required. 
                    The public may copy and use this information without charge,
                    provided that this Notice and any statement of authorship are
                    reproduced on all copies. JGI is not responsible for the
                    contents of any off-site pages referenced.</p>
