body#body_frame {
    /*width: 950px;*/
    margin: 0 auto 0 10px;
    position: absolute;
}

/*
 * used to clear the float css
 */
div#myclear {
    clear: both;
}

.myleft {
    float: left;
}

.myright {
    float: right;
}


/* -----------------------------------------------------------
 *
 * header frame
 *
 * -----------------------------------------------------------
 */
div#header_frame {
    width: 1024px;
    height: auto;
    background: #003366;
}

div#header_frame_hmp {
    width: 1024px;
    height: auto;
    background-image:url("./images/site_bg.jpg");
    background-repeat:repeat-x;
}

/*
 * jgi logo div top left corner
 */
div#jgi_logo {
    height: 93px;
    background: white;
    float: left;
}

div#genome_cart {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 30px;
    width: 100px;
    float: left;
    background: white;
    margin: 25px 0 0 170px;
    padding: 5px 0 0 5px;
    border-radius: 4px;
    border-style: inset;    
}

div#quicksearch {
    width: 200px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    position: relative;
    margin: 15px 0 0 100px;
}

/*
 * logout div for er and mer systems
 */
div#login {
    margin-top: 40px;
    float: left;
    position: relative;
    max-width: 200px;
}

div#login p{
    padding: 0; 
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
}

div#login a{
    color: white;
    text-decoration:none;
}


/* -----------------------------------------------------------
 *
 * img logo div - image just above the menu bar
 *
 * -----------------------------------------------------------
 */
div#jgi_logo2 {
    padding-top: 5px;
    width: 1024px;
    background: white;
    height: 50px;
}

div#jgi_logo2 img {
    width: 1024px;
    height: 53px;
}

/* -----------------------------------------------------------
 *
 * main page - home page and non-home pages
 *
 * -----------------------------------------------------------
 */
div#container, div#content {
    /*font: normal Palatino, Georgia, "Times New Roman", Times, serif;*/
    font-family: Arial, Helvetica, sans-serif;
}


div#container {
    height: auto;
    background: white;
    display: block;
    border: none;
}

/*
 * home page - img arrows bar above the stats table and contain page
 */
div#arrow {
    margin-bottom: -5px;
}

div#arrow .statsarrow {
    width : 200px;
    height : 61px;
}


div#arrow .bluearrow {
    width : 725px;
    height : 50px;
    padding-bottom: 11px;
}

/*
 * home page - left column div where the stats table is located
 */
div#left {
    height: 100%;
    width: 200px;
    background: #CAE7EE;
    display: block;
    float: left;
    margin: 0 5px 0 0;
    border: 0px;
}

div#left h2 {
    color: #333333;
    font-family:  Arial, Helvetica,
        sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

div#left table {
    margin: 0 10px 0 10px;
    width: 180px;
}

div#left th, div#left td {
    border-top: 4px solid #CAE7EE;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: .7em;
    line-height: 1.5em;
    padding: 1px;
}

div#left a {
    color: #000099;
    text-decoration: underline;
}

div#training {
    margin: 0 0 0 0;    
    background: white;
    padding: 0 0 10px 10px;
}

/*
 * training icon and links below the stats table
 */
div#training p {
    color: #990000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    line-height:1.25em;
    width: 165px;
}

/* -----------------------------------------------------------
 *
 * home page content
 * http://www.css3.info/preview/rounded-border/
 * ----------------------------------------------------------- 
 */
div#content {
    height: auto;
    width: 650px !important; /* FF */ 
    width: 650px; /* IE and others */
    background: white;
    display: block;
    float: left;
    border: 2px solid #6699CC;
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
    /*-moz-border-radius : 10px;*/
    border-radius : 10px; 
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4em;       
}

/*
 * image to the right
 */
div#content img.genomes {
    float: right;
    margin: 0 0 0 10px;
}

div#content p {    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    /*-moz-width: 570px; /* FF */
    /*width: 570px !important;  /* FF need to set such that 950 > 200 + this */
    /*width: 400px; /* IE for other browsers */

}

div#content table p {    
    width: 450px; /* for m, er and mer systems */
}


/* -----------------------------------------------------------
 *
 * non - home page content
 *
 * ----------------------------------------------------------- 
 */
div#content_other {
    height: auto;
    width: 90%;
    background: white;
    display: block;
    margin: 10px 0 10px 10px;
}

/*
 the td here is not nested and is general to all td
*/
div#content_other p, td {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.4em;
}

/*
div#content_other div#example{
    width: 200px;
    height: 400px;
    float: right;
    border: 1px solid #6699cc;
    margin: 10px 0 10px 10px;
    padding: 10px 10px 10px 10px;
}
*/

/* for charts */
div#content_other div#righttop {
    top: 250px;
    left: 250px;
    position: absolute;
    background: white; 
} 
div#examples {
    position: absolute; 
    top: 325px; 
    left: 550px;
}

/*
 * breadcrumbs frame - where the follow info lives:
 * - breadcrumbs
 * - loading / loaded messages
 * - page help link
 */
div#breadcrumbs_frame {
    background: white;
    margin: 0 0 10px 10px;
    width: 1024px;
}

/*
 nesting styles within one div
*/
div#breadcrumbs_frame div#breadcrumbs {
    height: 100%;
    width: 60%;
    float: left;
    font: 11px Arial, Helvetica, sans-serif;
}

div#breadcrumbs_frame div#loading {
    height: 100%;
    width: 30%;
    float: left;
    background: white;
    color: #6699cc; 
    font-family:  Arial, Helvetica, sans-serif; 
    font-style: italic; 
    font-size: .75em; 
    line-height: 1.3em;
}

div#breadcrumbs_frame div#page_help {
    position: relative;
    height: 100%;
    width: 10%;
    float: left;
    background: white;
}

/*
 * error frame - hidden by default but to display set an in-line style:
 *  style="display: block" to override the default css
 */
div.message_frame, div.error_frame {
    width: 900px;
    background: white;
    border: 1px solid red;
    padding: 5px 5px 5px 5px;
    margin: 0 0 10px 0;
    display: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;       
    /*-moz-border-radius : 5px;*/
    border-radius : 5px;
    /*
    background-image: url(./images/announcementsIcon.gif);
    background-repeat: no-repeat;
    */
}

div.error_frame {
    width: 900px;
    color: red;
}


/*
 message icon
*/
.message_img, div.error_frame img, div.message_frame img {
    float: left;
    padding: 0 0.3em 0 0;
    width: auto;
    border: 0 none;
    vertical-align: top;
}

div.working_area {
    border: 1px solid gray; 
    width: 650px; 
    height: 150px; 
    overflow: auto; 
    border-style: inset;   
}

/* -----------------------------------------------------------
 *
 * page footer frame - copyright
 *
 * -----------------------------------------------------------
 */
div#footer_frame {
    width: 1050px;
    margin: 5px 0 5px 0;
    padding: 5px 0 0 10px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    line-height: 1.2em;
    border-top: 1px solid #999999;
    background: white;
}

div#footer_inner_left {
    float: left;
}

div#footer_inner_right {
    float: right;
}

/*
padding:25px 50px 75px 100px;

    * top padding is 25px
    * right padding is 50px
    * bottom padding is 75px
    * left padding is 100px
*/


.shadow {
    /*-moz-box-shadow: 2px 2px 4px #888888;*/
    -webkit-box-shadow: 2px 2px 4px #888888;
    box-shadow: 2px 2px 4px #888888;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')";
    /* For IE 5.5 - 7 */
    /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888');*/
}

.shadow_full {
    /*-moz-box-shadow: 0 0 5px #888;*/
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;    
}
