<form class='alignleft' method="post" action="__main_cgi__" 
  name="mainForm">
<h2>Genome Search by Fields</h2>
<p>
Find genomes by keyword or substring.
</p>

<table class='img' border="0" width="400">
<tr>
<th class="subhead">Keyword:</th>
<td>
<input type="text" name="taxonSearchTerm" size="43"></td>
</tr>
<tr>
<th class="subhead">Filters:</th>
<td>
<select name="taxonSearchFilter" style="width:247px" onChange="showTip(this, 'taxonSearchTerm')">
__optionList__
</select>
</td>
</tr>
</table>

<input type="hidden" name="section" value="FindGenomes" />
<input type="hidden" name="page" value="findGenomeResults" />
<input id="moreGo" type="submit" name="findOrganism" value="Go" class="smdefbutton" />
<input id="moreReset" type="reset" name=".reset" value="Reset" class="smbutton" onclick="return selectRest();"/>

__hint__

</form>


<div id='examples'  style="top: 40px;">
<h3>Examples</h3>
<p>
- "pseudomonas" as Genome Name retrieves all genomes with the 
  substring "pseudomonas" such as "Pseudomonas syringae B728a".<br/>
- "62977" for NCBI Taxon ID retrieves "Acinetobacter sp. AD1".<br/>
- "NC_008009, NC_008010, NZ_AAKW01000001" as Scaffold External Accession 
   will retrieve genomes that have scaffolds with those accession ID's.<br/>
- "arch" for Domain retreives all Archaea.<br/>
- "proteo" for Phylum retrieves all proteobacteria.<br/>
- "finished" for Sequencing Status retrieves all finished genomes.<br/>
- "draft" for Sequencing Status retrieves all finished genomes.<br/>
- "JGI" for Sequencing Center retrieves all genomes sequenced at JGI.<br/>
- "2.0" for IMG Release retrieves all genomes with IMG release 2.0<br/>
</p>
</div>
