<h1>Function Search</h1>
<p>
Find functions in selected genomes by keyword.
__mer_fs_note__
</p>

<form class="alignleft" method="post" action="__main_cgi__" enctype="application/x-www-form-urlencoded" name="mainForm">
<table class='img' border="0" width="400">
<tr>
<th class="subhead">Keyword:</th>
<td>
<input type="text" name="ffgSearchTerm"  size="43" /></td>
</tr>
<tr>
<th class="subhead">Filters:</th>
<td>
<select name="searchFilter" style="width:247px" onChange="showTip(this, 'ffgSearchTerm')">
__searchFilterOptions__
</select></td>
</tr>
</table>

__genomeListFilter__
<br/>

<input type='hidden'  name='section' value='FindFunctions' />
<input id="go" class="smdefbutton" type="submit" name="ffgFindFunctions" value="Go" />
<input id="reset" class="smbutton" type="reset" name=".reset" value="Reset" onclick="return selectRest();" />

__hint__

<div class="clear"></div>
</form>
<div id='examples'>
<h3>Examples</h3>
<p>- "kinase" as a Function Name may get "Shikimate kinase", etc.<br />
- "EC:1.2.3.3" or "1.2.3.3" as an EC Number (exact) gets only genes associated with EC 1.2.3.3.<br />
- "1.2.3" as an EC Number (inexact) returns genes associated with EC 1.2.3.3 and EC 1.1.2.3. <br/>
- "IPR004462" (exact) or "kinase" or "Acetylglutamate" (inexact) gets
  "IPR004462 Acetlyglutamate kinase".<br/>
- "pfam00698" will retrieve that Pfam for Acl_trans_1.<br/>
- "TIGR02478" will retrieve that TIGRfam for 6-phosphotructokinase.<br/>
- "lipid"  return "Blood group  glycolipid biosynthesis-lactoseries", 
  "Lipid Metabolism" for KEGG Pathway search.<br/>
- (Try the "kinase" example or see the IMG Term and Pathway browsers for valid terms and pathways.)<br/>
</p>
</div>
<div class="clear"></div>
