<form method="post" action="__main_cgi__" name="mainForm">
    <a name='BLAST' id='BLAST'></a>
    <h1>BLAST</h1>
    <p style='width: 750px;'>
        Find matches in genomes selected below.  <u>All isolate genomes</u> in IMG will be used if none are selected. This is
        equivalent to the old 'All IMG Genes - One large Database' option. <br/> 
        If you select more than <b>__blast_max_genome__</b> genomes (including metagenomes), <u>All isolate genomes</u> in IMG will be used. <br/>
        If genomes were selected in the Genome Browser, please use the <font color='blue'>"Show All Genomes"</font> button below to access <u>All IMG genomes</u>.
    </p>

    <table class='img' border="0">
        <tr class='img'>
            <th class="subhead">Sequence</th>
            <td><textarea name="fasta" rows="10" cols="80"></textarea></td>
        </tr>
        <tr>
            <th class="subhead">Program</th>
            <td><select id="toScan" name="blast_program">
                    <option value="blastp">blastp (Protein vs. Protein)</option>
                    <option value="blastx">blastx (DNA vs. Protein)</option>
                    <option value="tblastn">tblastn (Protein vs. DNA -> Protein)</option>
                    <option value="blastn">blastn (DNA vs. DNA)</option>
            </td>
        </tr>
        <tr>
            <th class="subhead">E-value:</th>
            <td><select name="blast_evalue">
                    <option value="10e-0">10e-0</option>
                    <option value="5e-0">5e-0</option>
                    <option value="2e-0">2e-0</option>
                    <option value="1e-0">1e-0</option>
                    <option value="1e-2">1e-2</option>
                    <option selected="selected" value="1e-5">1e-5</option>
                    <option value="1e-8">1e-8</option>
                    <option value="1e-10">1e-10</option>
                    <option value="1e-20">1e-20</option>
                    <option value="1e-50">1e-50</option>
            </select>
            </td>
        </tr>
    </table>

    __metaChoice__
    __genomeListFilter__ 
    <input type="hidden" name='section' value='FindGenesBlast' /> <input type="hidden"
        name='page' value='geneSearchBlastForm'
    /> <input id="go" class="smdefbutton" type="submit" name="ffgGeneSearchBlast" value="Run BLAST" /> <input id="reset"
        class="smbutton" type="reset" name="Reset" value="Reset"
    />
    __hint__ 
    __userRestrictedBlastMessage__
</form>
