<div id="footer_frame">
<div id="footer_inner_left">
__version_year__<br/>
<a href="https://sites.google.com/a/lbl.gov/img-form/questions">IMG User Forum</a><br/>
<a href="__main_cgi__?page=questions">IMG Questions/Comments</a><br/>
<a href="mailto:vista@lbl.gov">VISTA Questions/Comments</a><br/>
<a href="http://www.jgi.doe.gov/whoweare/accessibility.html">Accessibility/Section 508</a><br/>
&copy;__copyright_year__ The Regents of the University of California<br/>
<a href="https://sites.google.com/a/lbl.gov/img-form/using-img/disclaimer">Disclaimer</a><br/>
__server_name__  &nbsp;&nbsp; __build_date__
</div>
</div>
<div id="myclear"></div>
<script language='javascript' type='text/javascript'>
    var e0 = document.getElementById( "loading" );
    if(e0 == null || e0 == undefined ) {
     // do nothing for now
    } else {
        var oldHTML = e0.innerHTML;
        if(oldHTML.indexOf("ajax-loader") != -1) {
            e0.innerHTML = " loaded. ";
        }
    }
</script>    

__google_analytics__

__post_javascript__

</body>
</html>
