<div id="footer_frame">
<div id="footer_inner_left">
__version_year__<br/>
<a href="https://sites.google.com/a/lbl.gov/img-form/questions">IMG User Forum</a><br/>
<a href="__main_cgi__?page=questions">IMG Questions/Comments</a><br/>
<a href="mailto:vista@lbl.gov">VISTA Questions/Comments</a><br/>
<a href="http://www.jgi.doe.gov/whoweare/accessibility.html">Accessibility/Section 508</a><br/>
&copy;__copyright_year__ The Regents of the University of California<br/>
<a href="https://sites.google.com/a/lbl.gov/img-form/using-img/disclaimer">Disclaimer</a><br/>
__server_name__  &nbsp;&nbsp; __build_date__
</div>

<div id="footer_inner_right">
<a style="text-decoration:none;"  href="http://crd.lbl.gov/groups-depts/BDMTC/" title='IMG is a collaboration of JGI and BDMTC'>
<img width="77" height="54" border="0" src="__top_base_url__images/img4.jpg" alt="BDMTC" >
</a>

<a href="http://www.jgi.doe.gov/">
<img border="0" width="120" height="60" alt="JGI logo"
src="__top_base_url__images/jgi_logo2.gif" ></a>
&nbsp;&nbsp;
<a href="http://www.sc.doe.gov/">
<img style="padding-bottom: 25px;" width="190" height="34" border="0"
src="__top_base_url__images/doe_sc_logo.gif" alt="DOE logo" ></a>
&nbsp;&nbsp;
<a href="http://www.ucop.edu/">
<img style="padding-bottom: 20px;" width="45" height="43" border="0"
alt="UC logo" src="__top_base_url__images/uclogo.gif"></a>
&nbsp;&nbsp;
<a href="http://www.genomesonline.org/">
<img style="padding-bottom: 20px;" width="65" height="40" border="0" alt="powered by GOLD"
title="Metadata powered by GOLD" 
src="__top_base_url__images/GOLD_logo_part1.png"></a>
&nbsp;&nbsp;
<a href="https://www.facebook.com/groups/102889379778794/">
<img style="margin-left: 5px; margin-bottom: 40px;" border="0" alt="facebook logo"
src="__top_base_url__images/Facebook-20.png"></a>
<a href="http://en.wikipedia.org/wiki/Integrated_Microbial_Genomes_System">
<img style="margin-left: 5px; margin-bottom: 40px;" border="0" width="20"
height="20" alt="wikipedia logo" src="__top_base_url__images/wiki.jpeg"></a>
</div>

</div>
<div id="myclear"></div>
<script language='javascript' type='text/javascript'>
    var e0 = document.getElementById( "loading" );
    if(e0 == null || e0 == undefined ) {
     // do nothing for now
    } else {
        var oldHTML = e0.innerHTML;
        if(oldHTML.indexOf("ajax-loader") != -1) {
            e0.innerHTML = " loaded. ";
        }
    }
</script>    

<script language='javascript' type="text/javascript">
        messageFile('xml.cgi?section=MessageFile');
</script>

__google_analytics__

__post_javascript__

</body>
</html>
