<h1>Data Usage Policy</h1>
<div>
<p>
As a public service, the raw sequence data from the genome sequencing projects 
are being made available by the Department of Energy Joint Genome Institute (JGI)
 before scientific publication. The purpose of this policy is to balance the
 imperative of DOE and JGI that the data from its sequencing projects be made
 available to the scientific community as soon as possible with the reasonable
 expectation that the collaborators and the JGI will publish their results without
 concerns about potential preemption by other groups that did not participate in the
 effort.
</p><p>
These pre-publication data are preliminary and may contain errors. The goal of our
 policy is that early release should enable the progress of science. By accessing
 these data, you agree not to publish any articles containing analyses of genes or
 genomic data on a whole genome or chromosome scale prior to publication by JGI and
 its collaborators of its comprehensive genome analysis. These restrictions will be
 lifted on the publication of the whole genome description or the expiration of a
12-month period after public release of the 8x assembly and draft annotation,
 whichever comes first. During this waiting period, the data will be available for
 any kind of publication that does not compete directly with planned publications
 (e.g. reserved analyses) of the JGI and collaborators. A principal collaborator or
 "champion," listed in the organsims' Info page and is the point of contact and
 arbiter regarding publication plans. Scientists are strongly encouraged to contact
 the principal collaborator and JGI about their intentions and any potential
 collaboration.
</p><p>
Reserved analyses include the identification of complete (whole genome) sets of
 genomic features such as genes, gene families, regulatory elements, repeat
 structures, GC content, etc., and whole-genome comparisons of regions of
 evolutionary conservation or change. Manually annotated genes within the Genome
 Portal are also reserved. Studies of any type on the reserved data sets that are
 not in direct competition with those planned by the JGI and its collaborators may
 also be undertaken following an agreement to that effect. Interested parties are
 encouraged to contact the principal collaborator and JGI to discuss such
 possibilities.
</p><p>
If these data are used for publication, the following acknowledgment should be
 included: <b>"These sequence data were produced by the US Department of Energy Joint
 Genome Institute http://www.jgi.doe.gov/ in collaboration with the user community."
 We request that you notify us upon publication so that this information can be
 included in the final annotation.</b>
</p><p>
The data may be freely downloaded and used by all who respect the restrictions in
 the previous paragraphs. While still in waiting period status, the assembly and raw
 sequence reads should not be redistributed or repackaged without permission from
 the JGI. Any redistribution of the data during this period should carry this
 notice: "The Joint Genome Institute provides these data in good faith, but makes no
 warranty, expressed or implied, nor assumes any legal liability or responsibility
 for any purpose for which the data are used." Once moved to unreserved status, the
 data are freely available for any subsequent use.
</p>
<p>
As of <b>April 2013 IMG FTP</b> has been discontinued. <a href="https://sites.google.com/a/lbl.gov/img-form/news/imgftpsite"> Why? </a>
<br/>
Continue to <a href="http://genome.jgi-psf.org/"> <b>JGI Portal</b></a> 
</p>

</div>
