
<div class='myleft' id='one' style="padding-right: 50px; max-width:400px;">

    <table border="0">
        <tr>
            <td><b>Seq. Status</b></td>
            <td><b>Domain</b></td>
        </tr>
        <tr>
            <td><select id="seqstatus" style="width: 270px;" name="seqstatus">
                    <option selected="selected" value="Finished">Finished</option>
                    <option value="Permanent Draft">Permanent Draft</option>
                    <option value="Draft">Draft</option>
                    <option value="both">All Finished, Permanent Draft and Draft</option>
            </select>
            </td>
            <td><select id="domainfilter" name="domainfilter">
                    <TMPL_IF NAME=isolate>
                    <option value='Archaea' selected="selected">Archaea</option>
                    <option value='Bacteria'>Bacteria</option>
                    <option value='Eukaryota'>Eukaryota</option>
                    </TMPL_IF>
                    <TMPL_IF NAME=include_metagenomes>
                    <option value='*Microbiome'>Metagenome</option>
                    </TMPL_IF>
                    <TMPL_IF NAME=gfr>
                    <option value='GFr'>GFragment</option>
                    </TMPL_IF>
                    <TMPL_IF NAME=pla>
                    <option value='Pla'>Plasmid</option>
                    </TMPL_IF>
                    <TMPL_IF NAME=vir>
                    <option value='Vir'>Viruses</option>
                    </TMPL_IF>
                    <TMPL_IF NAME=all>
                    <option value='All'>All (Slow)</option>
                    </TMPL_IF>
                    <TMPL_IF NAME=cart>
                    <option value='cart'>Genome Cart</option>
                    </TMPL_IF>
            </select>
        </tr>
        <tr>
            <td><input id="displayType1" type="radio" checked="checked" style="vertical-align: text-bottom;"
                value="list" name="displayType"
            > <b>List</b> <input id="displayType2" type="radio" style="vertical-align: text-bottom;" value="tree"
                name="displayType"
            > <b>Tree</b> &nbsp;&nbsp; <input id='showButton' type="button" value='Show'
                onclick="printSelectType('<TMPL_VAR NAME=xml_cgi>', '<TMPL_VAR NAME=prefix>', 'height: 400px; width: 400px; max-width:400px;  overflow:scroll;', '<TMPL_VAR NAME=from>');"
            >
            </td>
            <td><span id="genomeListCounter" style='font-size: 12px;'></span></td>
        </tr>
    </table>

    <div id="genomelist" style=""></div>
    <div id="treeDiv1" class="whitebg ygtv-checkbox"></div>
    <div id="hiddenlist"></div>
</div>


<div class='myleft' id='two' style="width: 400px;">
    <strong>Selected Genomes</strong>
    <p>
    <div>
        <TMPL_VAR NAME=selectedGenome1Title><br />
        <select id='selectedGenome1' name='selectedGenome1' multiple="multiple" size='1' style="width: 300px;">
        </select> <br /> 
        <input type='button' value='Add' onclick="addOption('selectedGenome1', 1, '<TMPL_VAR NAME=domainType1>')"> 
        <input type='button' value='Remove' onclick="removeOption('selectedGenome1')">
        
        <TMPL_IF NAME=selectedAssembled1>
            <br/>
            Assembled or Unassembled: &nbsp; <select name="q_data_type" >
            <option value="assembled" > Assembled </option>
            <option value="unassembled" > Unassembled (slow) </option>
            <option value="both" > Both (very slow) </option>
            </select>
        </TMPL_IF>          
    </div>
    <br/>
    <div>
        <TMPL_VAR NAME=selectedGenome2Title> &nbsp; <span id="selectedGenome2Counter"></span><br />
        <select id='selectedGenome2' name='selectedGenome2' multiple="multiple" size='10' style="width: 300px;">
        </select> <br/>
        <input type='button' value='Add' onclick="addOption('selectedGenome2', <TMPL_VAR NAME=maxSelected2>, '<TMPL_VAR NAME=domainType2>')"> 
        <input type='button' value='Remove' onclick="removeOption('selectedGenome2')">

        <TMPL_IF NAME=selectedAssembled2>
            <br/>
            Assembled or Unassembled: &nbsp; <select name="r_data_type2" >
            <option value="assembled" > Assembled </option>
            <option value="unassembled" > Unassembled (slow) </option>
            <option value="both" > Both (very slow) </option>
            </select>
        </TMPL_IF>        
    </div>
    <br/>
    
     <div>
        <TMPL_VAR NAME=selectedGenome3Title> &nbsp; <span id="selectedGenome3Counter"></span><br />
        <select id='selectedGenome3' name='selectedGenome3' multiple="multiple" size='10' style="width: 300px;">
        </select> <br/>
        <input type='button' value='Add' onclick="addOption('selectedGenome3', <TMPL_VAR NAME=maxSelected3>, '<TMPL_VAR NAME=domainType3>')"> 
        <input type='button' value='Remove' onclick="removeOption('selectedGenome3')">
        
        <TMPL_IF NAME=selectedAssembled3>
            <br/>
            Assembled or Unassembled: &nbsp; <select name="r_data_type3" >
            <option value="assembled" > Assembled </option>
            <option value="unassembled" > Unassembled (slow) </option>
            <option value="both" > Both (very slow) </option>
            </select>
        </TMPL_IF>    
     </div>
     
     
     <TMPL_VAR NAME=mySubmitButton>
     
</div>

<div id='myclear'></div>
