
<table border="0">
    <tr>
        <td><b>Seq. Status</b></td>
        <td><b>Domain</b></td>
    </tr>
    <tr>
        <td>
        <select id="seqstatus" style="width:270px;" name="seqstatus">
        <option selected="selected" value="Finished"> Finished </option>
        <option value="Permanent Draft"> Permanent Draft </option>
        <option value="Draft"> Draft </option>
        <option value="both"> All Finished, Permanent Draft and Draft </option>
        </select>
        </td>
        <td>
        <select id="domainfilter" name="domainfilter">
<TMPL_IF NAME=isolate>        
        <option value='Archaea' selected="selected">Archaea</option>
        <option value='Bacteria'>Bacteria</option>
        <option value='Eukaryota'>Eukaryota</option>
</TMPL_IF>        
<TMPL_IF NAME=include_metagenomes>        
        <option value='*Microbiome'>Metagenome</option>
</TMPL_IF>
<TMPL_IF NAME=gfr>
        <option value='GFr'>GFragment</option>
</TMPL_IF>        
<TMPL_IF NAME=pla>
        <option value='Pla'>Plasmid</option>
</TMPL_IF>
<TMPL_IF NAME=vir> 
        <option value='Vir'>Viruses</option>
</TMPL_IF>
<TMPL_IF NAME=all> 
        <option value='All' >All (Slow)</option>
</TMPL_IF>
<TMPL_IF NAME=cart>
        <option value='cart' >Genome Cart</option>
</TMPL_IF>        
        </select>
    </tr>
    <tr>
        <td>      
        <input id="displayType1" type="radio" checked="checked" style="vertical-align:text-bottom;" value="list" name="displayType">
        <b>List</b>
        <input id="displayType2" type="radio" style="vertical-align:text-bottom;" value="tree" name="displayType">
        <b>Tree</b>
        &nbsp;&nbsp;
        <input id='showButton' type="button" value='Show' onclick="printSelectType('<TMPL_VAR NAME=xml_cgi>', '<TMPL_VAR NAME=prefix>', '', '<TMPL_VAR NAME=from>');">
        </td>
        <td><span id="genomeListCounter" style='font-size: 12px;'></span></td>
    </tr>
</table>

<div id="genomelist"  style=""></div>
<div id="treeDiv1"  class="whitebg ygtv-checkbox"></div>
<div id="hiddenlist"></div>
