<link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME=YUI>/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME=YUI>/build/treeview/assets/skins/sam/treeview.css" />
<script type="text/javascript" src="<TMPL_VAR NAME=YUI>/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=YUI>/build/treeview/treeview-min.js"></script>

<script src="<TMPL_VAR NAME=YUI>/build/yahoo/yahoo-min.js"></script>
<script src="<TMPL_VAR NAME=YUI>/build/json/json-min.js"></script>
<script src="<TMPL_VAR NAME=YUI>/build/connection/connection-min.js"></script>

<!--begin custom header content for this example-->
<!--Additional custom style rules for this example:-->
<style type="text/css">

.ygtvcheck0 { background: url(<TMPL_VAR NAME=YUI>/examples/treeview/assets/img/check/check0.gif) 0 0 no-repeat; width:16px; height:20px; float:left; cursor:pointer; }
.ygtvcheck1 { background: url(<TMPL_VAR NAME=YUI>/examples/treeview/assets/img/check/check1.gif) 0 0 no-repeat; width:16px; height:20px; float:left; cursor:pointer; }
.ygtvcheck2 { background: url(<TMPL_VAR NAME=YUI>/examples/treeview/assets/img/check/check2.gif) 0 0 no-repeat; width:16px; height:20px; float:left; cursor:pointer; }

.ygtv-edit-TaskNode  {  width: 190px;}
.ygtv-edit-TaskNode .ygtvcancel, .ygtv-edit-TextNode .ygtvok  { border:none;}
.ygtv-edit-TaskNode .ygtv-button-container { float: right;}
.ygtv-edit-TaskNode .ygtv-input  input{ width: 140px;}
.whitebg {
    background-color:white;
}
</style>

<script type="text/javascript" src="<TMPL_VAR NAME=base_url>/genomeJson.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=base_url>/genomeJsonXDiv.js"></script>
