
<div id="home_footer2">
<img src="__base_url__/images/imguser.jpg" width="150" height="80"/>
<br/><br/>
<p>
Hands on training<br />
available at the<br />
<a href='http://www.jgi.doe.gov/meetings/mgm'>Microbial Genomics &
Metagenomics Workshop</a></p>
</div>

<div id="home_footer">

<p>__version_year__<br />
<a href="__main_cgi__?page=questions">IMG Questions/Comments</a><br />
<a href="mailto:vista@lbl.gov">VISTA Questions/Comments</a><br />
&#169;__copyright_year__ The Regents of the University of California<br />
<a href="__main_cgi__?page=disclaimer">Disclaimer</a></p>
</div>
__google_analytics__
</body>
</html>
