<div id="bluearrow"></div>

<div id="intro"><img src="__base_url__/images/jgi_top_corners.gif"
	width="496" height="10" alt="" /> <img
	src="__base_url__/images/jgi_genomes.jpg" width="95" height="307"
	class="genomes" alt="photomicrographs"
	title="Moorella thermoacetica, Streptococcus thermophilus, Methanococcoides burtonii" />

<p>The <strong>Integrated Microbial Genomes (IMG)</strong> system (<a
	href='http://nar.oxfordjournals.org/cgi/reprint/gkp887v1'> Nucleic
Acids Research, 2010, Vol. 38</a>) serves as a community resource for
comparative analysis and annotation of all publicly available genomes
from three domains of life in a uniquely integrated context. Plasmids
that are not part of a specific microbial genome sequencing project and
phage genomes are also included into IMG in order to increase its
genomic context for comparative analysis.</p>

<p>The IMG user interface (see <a
	href='__base_url__/doc/images/uiMap.pdf' onClick="_gaq.push(['_trackEvent', 'Document', 'home', 'ui map']);" >User Interface Map</a>) allows
navigating the microbial genome data space along its three key
dimensions (genes, genomes, and functions), and groups together the main
comparative analysis tools. Microbial genome data analysis in IMG
usually starts with the definition of an analysis context in terms of
selected genomes, functional annotations, and/or genes, followed by the
individual or comparative analysis of genomes, functional annotations,
or genes.</p>


<p>The <b>content</b> of <b>IMG 3.2</b> has been updated with about
467 new genomes from <b>RefSeq</b> version <b>41</b> (June. 14, 2010).
There were 31 microbial genomes from IMG 3.1 were replaced in IMG 3.2
because (1) a draft genome has been replaced by its finished version, or
(2) the composition of the genome has changed through the addition of
new replicons (plasmids, chromosomes). For replaced genomes, the gene
object identifiers (gene OIDs) for the protein-coding genes (CDS) were
mapped to their new version in IMG. 3.2. See <a
	href='main.cgi?section=DataEvolution'>IMG Data Evolution History</a>
for details. <br />
IMG 3.2 also contains <b>Proteomic</b> data from recent Arthrobacter
chlorophenolicus study, Cryptobacterium curtum, and Brachybacterium
faecium studies.
<p>The <b>User Interface</b> has been extended with several new
features, including table filters, improved search functions, and
genome distance tree viewer. Please see our <font color='red'><b>
Browser </b> </font> <a href='__base_url__/doc/systemreqs.html'> <b> System
Requirements </b></a></p>

<p>For more details, see <a href='__base_url__/doc/releaseNotes.pdf' onClick="_gaq.push(['_trackEvent', 'Document', 'home', 'release notes']);">What's
New</a> and <a href='__base_url__/doc/using_index.html'>Using IMG</a>.
Please also see <a href='__base_url__/doc/about_index.html'>About
IMG</a> and <a href='/docs/submission/index.html'>FAQ</a> on IMG.</p>

<p><b>IMG Companion Systems:</b> <a href='http://img.jgi.doe.gov/m'>IMG/M</a>
</p>

<p><b>Next IMG release: January 2011</b><br />
</p>

<img class="bottom" src="__base_url__/images/jgi_bottom_corners.gif"
	width="496" height="10" alt="" /></div>

<div id="stats"><img src="__base_url__/images/jgi_home_table.gif"
	width="200" height="61" alt="" />
<h2>IMG Genomes</h2>
<table cellspacing="0" cellpadding="0">
	<tr>
		<th class='noborder' colspan="2" align='right'
			title='finished / draft / permanent draft '>finished/draft/perm
		draft</th>
		<!--  <th class='noborder'> &nbsp; </th>-->
		<th class='noborder' align='right'>Total</th>
	</tr>
	__stats_table_rows__
</table>
</div>

