
<img
    width="95"
    height="225"
    title="Moorella thermoacetica, Streptococcus thermophilus, Methanococcoides burtonii"
    alt="photomicrographs"
    class="genomes"
    src="__base_url__/images/jgi_genomes.jpg"
/>

<p>
    The <strong>Integrated Microbial Genomes (IMG)</strong> system (<a
        href="http://nar.oxfordjournals.org/content/early/2013/10/26/nar.gkt963.full"
    > Nucleic Acids Research, Oct. 16, 2013</a>) serves as a community resource for comparative
    analysis and annotation of all publicly available genomes from three domains of life in a
    uniquely integrated context. Plasmids that are not part of a specific microbial genome
    sequencing project and phage genomes are also included into IMG in order to increase its genomic
    context for comparative analysis.
</p>

__news__

<link rel="stylesheet" type="text/css" href="__yui__/build/datatable/assets/skins/sam/datatable.css">
<style type="text/css">
    .yui-skin-sam .yui-dt th .yui-dt-liner {
        white-space:normal;
    }
</style>

__table__









