table.hm_table {
    cursor: pointer;
    border: 1px outset black;
    background-color: #fff;
}

td.hm_td {
    background-color: #fff;
    font-family: arial;
    font-size: 10pt;
}

td.hm_td:hover {
    color: white;
    background-color: #3333bb;
}

div.ht_div {
    border: 1px solid black;
    width: 150px;
    background-color: #fff;
    font-family: arial;
    font-size: 10pt;
    padding: 2px;
}
