/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.3.1


 $Id: img_border_tabs.css 29739 2014-01-07 19:11:08Z klchu $ 
 
 This a copy of yui original tabview css but I modified it
 for img usage and color - ken
 

*/
/* default space between tabs */
.yui-navset .yui-nav li {
    margin-right:0; /* horizontal tabs - no space between tabs - ken */
}
.yui-navset-left .yui-nav li, .yui-navset-right .yui-nav li {
    margin:0 0 0.5em; /* vertical tabs */
}

/* default width for side tabs */
.yui-navset-left .yui-nav, .yui-navset-right .yui-nav { width:6em; }
.yui-navset-left { padding-left:6em; } /* map to nav width */
.yui-navset-right { padding-right:6em; } /* ditto */

/* core */

.yui-nav, .yui-nav li {
    margin:0;
    padding:0;
    list-style:none;
}
.yui-navset li em { font-style:normal; }

.yui-navset {
    position:relative; /* contain absolute positioned tabs (left/right) */
    zoom:1;
}

.yui-navset .yui-content { zoom:1; }

.yui-navset .yui-nav li {
    display:inline-block;
    display:-moz-inline-stack;
    *display:inline; /* IE */
    vertical-align:bottom; /* safari: for overlap */
    cursor:pointer; /* gecko: due to -moz-inline-stack on anchor */
    zoom:1; /* IE: kill space between horizontal tabs */
}

.yui-navset-left .yui-nav li, .yui-navset-right .yui-nav li {
    display:block;
}

.yui-navset .yui-nav a {
    outline:0; /* gecko: keep from shifting */
}

.yui-navset .yui-nav a { position:relative; } /* IE: to allow overlap */

.yui-navset .yui-nav li a {
    display:block;
    display:inline-block;
    vertical-align:bottom; /* safari: for overlap */
    zoom:1;
}

.yui-navset-left .yui-nav li a, .yui-navset-right .yui-nav li a {
    display:block;
}

.yui-navset-bottom .yui-nav li a {
    vertical-align:text-top; /* for inline overlap (reverse for Op border bug) */
}

.yui-navset .yui-nav li a em { display:block; }

/* position left and right oriented tabs */
.yui-navset-left .yui-nav, .yui-navset-right .yui-nav { position:absolute; z-index:1; }
.yui-navset-left .yui-nav { left:0; }
.yui-navset-right .yui-nav { right:0; }




/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.3.1


 This a copy of yui original tab border css but I modified it
 for img usage and color - ken
 
*/
.yui-navset .yui-nav li a {
    border:1px solid #999999;  /* tab label border color */
}

.yui-navset .yui-nav .selected a, .yui-navset .yui-nav a:hover {
    background-color:#E8F3FB; /* active tab, tab hover bgcolor */
}

.yui-navset .yui-nav li em { padding:.5em; } /* tab padding */

/* defaults to orientation "top" */
.yui-navset .yui-nav .selected a {
    border-bottom-width:0px; /* no bottom border for active tab */
    padding-bottom:1px; /* to match height of other tabs */
}

.yui-navset .yui-content {
    margin-top:-1px; /* for active tab overlap */
    border:1px solid #999999; /* content bgcolor */
    border-width:1px 0 0 0; /* no left, no bottom border, or right border - ken */
}

/* overrides for other orientations */

.yui-navset-bottom .yui-nav .selected a {
    border-width:0 1px 1px; /* no top border for active tab */
    padding:1px 0 0; /* to match height of other tabs */
}

.yui-navset-bottom .yui-content {
    margin:0 0 -1px; /* for active tab overlap */
}

.yui-navset-left .yui-nav li.selected a {
    border-width:1px 0 1px 1px; /* no right border for active tab */
    padding:0 1px 0 0; /* to match width of other tabs */
}

.yui-navset-left .yui-content {
    margin:0 0 0 -1px; /* for active tab overlap */
}

.yui-navset-right .yui-nav li.selected a {
    border-width:1px 1px 1px 0; /* no left border for active tab */
    padding:0 0 0 1px; /* to match width of other tabs */
}

.yui-navset-right .yui-content {
    margin:0 -1px 0 0; /* for active tab overlap */
}
