    <div id="menu">
           <ul id="nav">
            <li <TMPL_VAR NAME=highlight_1> ><a href="<TMPL_VAR NAME=main_cgi_url>"> <TMPL_VAR NAME=imgAppTerm> Home </a></li>


            <li <TMPL_VAR NAME=highlight_2> ><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindGenomes&page=findGenomes&domain=all">Find Genomes</a>
                <ul>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=TaxonList&page=taxonListAlpha&domain=all"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/browse_icon.png"/> Genome Browser</a></li>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindGenomes&page=genomeSearch"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/binocular.png"/> Genome Search</a></li>

<TMPL_IF NAME=not_img_edu>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=TaxonDeleted">Deleted Genomes</a></li>
</TMPL_IF>
<TMPL_IF NAME=img_internal>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=TaxonList&page=categoryBrowser">Category Browser</a></li>
</TMPL_IF>
                </ul>
            </li>


            <li <TMPL_VAR NAME=highlight_3> ><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindGenes&page=findGenes"> Find Genes </a>
                <ul>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindGenes&page=geneSearch"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/binocular.png"/> Gene Search</a></li>
<TMPL_IF NAME=enable_cassette>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=GeneCassetteSearch&page=form">Cassette Search</a></li>
</TMPL_IF>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindGenesBlast&page=geneSearchBlast"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/blast_icon.png"/> BLAST</a></li>

                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=GeneCassetteProfiler&page=genetools">Phylogenetic Profilers <img class="subarrow" src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/> </a>
                        <ul>
                            <li class="sub3"> <a href="<TMPL_VAR NAME=main_cgi_url>?section=PhylogenProfiler&page=phyloProfileForm"> Single Genes </a> </li>
<TMPL_IF NAME=img_internal>                            
                            <li class="sub3"> <a href="<TMPL_VAR NAME=main_cgi_url>?section=PhyloClusterProfiler&page=phyloProfileForm"> IMG Clusters </a></li>
</TMPL_IF>                            
<TMPL_IF NAME=find_gene_1>
                            <li class="sub3"> <a href="<TMPL_VAR NAME=main_cgi_url>?section=GeneCassetteProfiler&page=geneContextPhyloProfiler2"> Gene Cassettes </a> </li>
</TMPL_IF>
                        </ul>                    
                    </li>


<TMPL_IF NAME=img_internal>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=ProteinCluster">Protein Clusters</a></li>
</TMPL_IF>  
                </ul>
            </li>


            <li <TMPL_VAR NAME=highlight_4> ><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=findFunctions"> Find Functions </a>
                <ul>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=findFunctions"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/binocular.png"/> Function Search</a></li>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=AllPwayBrowser&page=allPwayBrowser"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/binocular.png"/> Search Pathways</a></li>
                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=ffoAllCogCategories"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/cog.png"/>&nbsp;COG<img class="subarrow"  src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/></a>
                        <ul>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=ffoAllCogCategories">COG Browser</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=cogList">COG List</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=cogList&stats=1">COG List w/ Stats</a> </li>
                        </ul>
                    </li>
                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=ffoAllKogCategories"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/kog.png"/>&nbsp;KOG<img class="subarrow"  src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/></a>
                        <ul>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=ffoAllKogCategories">KOG Browser</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=kogList">KOG List</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=kogList&stats=1">KOG List w/ Stats</a> </li>
                        </ul>
                    </li>
                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=pfamCategories"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/pfam.png"/> Pfam<img class="subarrow"  src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/></a>
                        <ul>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=pfamCategories"> Pfam Browser </a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=pfamList"> Pfam List </a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=pfamList&stats=1"> Pfam List w/ Stats</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=pfamListClans"> Pfam Clans</a> </li>
                        </ul>                        
                    </li>
                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=TigrBrowser&page=tigrBrowser"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/tigrfam.png"/>&nbsp;TIGRfam<img class="subarrow"  src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/></a>
                        <ul>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=TigrBrowser&page=tigrBrowser"> TIGRfam Roles </a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=TigrBrowser&page=tigrfamList"> TIGRfam List </a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=TigrBrowser&page=tigrfamList&stats=1"> TIGRfam List w/ Stats</a> </li>
                        </ul>                        
                    </li>



                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=ffoAllTc" title="Transporter Classification (TC)"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/tcdb.png"/>&nbsp;Transporter Class.<img class="subarrow"  src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/></a>
                        <ul>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=ffoAllTc"> TC Browser </a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=tcList"> TC List </a> </li>
                        </ul>                                                
                    </li> 
                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=ffoAllKeggPathways&view=brite"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/kegg.png"/>&nbsp;KEGG<img class="subarrow" src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/></a>
                        <ul>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=ffoAllKeggPathways&view=brite"> Orthology KO Terms </a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=ffoAllKeggPathways&view=ko"> Pathways via KO Terms </a> </li>
                        </ul>                                                                        
                    </li>
<TMPL_IF NAME=include_img_terms>
                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=ImgNetworkBrowser&page=imgNetworkBrowser"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/favicon.ico"/> IMG Networks <img class="subarrow" src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/> </a>
                        <ul>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=ImgNetworkBrowser&page=imgNetworkBrowser"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/favicon.ico"/>IMG Network Browser</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=ImgPartsListBrowser&page=browse"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/favicon.ico"/>IMG Parts List</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=ImgPwayBrowser&page=imgPwayBrowser"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/favicon.ico"/>IMG Pathways</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=ImgTermBrowser&page=imgTermBrowser"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/favicon.ico"/>IMG Terms</a> </li>
                        </ul>
                    </li>
</TMPL_IF>                    
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FindFunctions&page=enzymeList">Enzyme</a></li>
<TMPL_IF NAME=not_include_metagenomes>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=MetaCyc">MetaCyc</a></li>
</TMPL_IF>
<TMPL_IF NAME=img_pheno_rule>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=ImgPwayBrowser&page=phenoRules">Phenotypes</a></li>
</TMPL_IF>

<TMPL_IF NAME=enable_biocluster>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=BiosyntheticStats&page=stats">
                    <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/bc.png"/>&nbsp;Biosynthetic Clusters</a>
                    </li>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=NaturalProd&page=list">
                    <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/np.png"/>&nbsp;Natural Products</a>
                    </li>
</TMPL_IF>
                    
<TMPL_IF NAME=img_internal>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=EggNog&page=hierarchy">EggNOG Browser</a></li>
</TMPL_IF>      

<TMPL_IF NAME=enable_interpro>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=Interpro">InterPro Browser</a></li>
</TMPL_IF>
<TMPL_IF NAME=not_include_metagenomes>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=ImgTermStats&page=functionCompare"> Protein Family Comparison </a></li>
</TMPL_IF>                    
                </ul>
            </li>


            <li <TMPL_VAR NAME=highlight_5> ><a href="<TMPL_VAR NAME=main_cgi_url>?section=CompareGenomes&page=compareGenomes"> Compare Genomes </a>
                <ul>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=CompareGenomes&page=compareGenomes">Genome Statistics</a></li>
                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=Vista&page=toppage">Synteny Viewers <img class="subarrow" src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/> </a>
                        <ul>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=Vista&page=vista"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/vista.ico"/> VISTA</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=DotPlot&page=plot"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/dotplot_icon.png"/> Dot Plot</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=Artemis&page=ACTForm"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/sanger-ico.png"/> Artemis ACT</a> </li>
                        </ul>
                    </li>
                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=AbundanceProfiles&page=topPage">Abundance Profiles <img class="subarrow"  src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/> </a>
                        <ul>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=AbundanceProfiles&page=mergedForm">Overview (All Functions)</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=AbundanceProfileSearch">Search</a> </li>
<TMPL_IF NAME=include_metagenomes>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=AbundanceComparisons"> Function Comparisons </a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=AbundanceComparisonsSub"> Function Category Comparisons </a> </li>
</TMPL_IF>
                        </ul>
                    </li>
<TMPL_IF NAME=include_metagenomes>
                    <li class="sub2" title="Phylogenetic Distribution"><a href="<TMPL_VAR NAME=main_cgi_url>?section=MetagPhyloDist&page=top">Phylogenetic Distribution <img class="subarrow" src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/> </a>
                        <ul>
                            <li class="sub3" title="Metagenome Phylogenetic Distribution"><a href="<TMPL_VAR NAME=main_cgi_url>?section=MetagPhyloDist&page=form">Metagenomes vs Genomes</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=GenomeHits">Genome vs Metagenomes</a> </li>
                            <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=RadialPhyloTree">  <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/radialtree_ico.png"/> Radial Tree</a></li>
                        </ul>
                    </li>
</TMPL_IF>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=DistanceTree&page=tree">Distance Tree</a></li>
<TMPL_IF NAME=not_include_metagenomes>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=RadialPhyloTree">  <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/radialtree_ico.png"/> Radial Tree</a></li>
</TMPL_IF>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FunctionProfiler&page=profiler">Function Profile</a></li>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=EgtCluster&page=topPage">Genome Clustering</a></li>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=GenomeGeneOrtholog" title="Genome Gene Best Homologs">Genome Gene Best Hmlgs</a></li>
<TMPL_IF NAME=include_metagenomes>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=PhyloCogs&page=phyloCogTaxonsForm">Phylogenetic Marker COGs</a></li>
</TMPL_IF>
                </ul>
            </li>


            <li <TMPL_VAR NAME=highlight_6> ><a href="<TMPL_VAR NAME=main_cgi_url>?section=GeneCartStor&page=geneCart"> Analysis Cart </a>
                <ul>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=GeneCartStor&page=geneCart">Genes</a></li>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=FuncCartStor&page=funcCart">Functions</a></li>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=GenomeCart&page=genomeCart">Genomes</a></li>
<TMPL_IF NAME=scaffold_cart>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=ScaffoldCart&page=index">Scaffolds</a></li>
</TMPL_IF>
<TMPL_IF NAME=isEditor>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=CuraCartStor&page=curaCart">Curation</a></li>
</TMPL_IF>
                </ul>
            </li>


            <li <TMPL_VAR NAME=highlight_7> ><a href="<TMPL_VAR NAME=main_cgi_url>?section=MyIMG"> My IMG </a>
                <ul>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=MyIMG&page=home">MyIMG Home</a></li>
<TMPL_IF NAME=my_img_1> 
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=MyIMG&page=myAnnotationsForm">Annotations</a></li>
</TMPL_IF>
<TMPL_IF NAME=my_img_2>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=MyIMG&page=myJobForm">MyJob</a></li>
</TMPL_IF>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=MyIMG&page=preferences">Preferences</a></li>
<TMPL_IF NAME=enable_workspace> 
                     <li class="sub2" title="My saved data Genes, Functions, Scaffolds, Genomes"><a href="<TMPL_VAR NAME=main_cgi_url>?section=Workspace"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/drawer.png"/> Workspace<img class="subarrow" src="<TMPL_VAR NAME=base_url>/images/ArrowNav.gif"/> </a>
                         <ul>
                             <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=WorkspaceGeneSet&page=home">Gene Sets</a> </li>
                             <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=WorkspaceFuncSet&page=home">Function Sets</a> </li>
                             <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=WorkspaceGenomeSet&page=home">Genome Sets</a> </li>
                             <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=WorkspaceScafSet&page=home">Scaffold Sets</a> </li>
                             <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=WorkspaceRuleSet&page=home">Rule Sets</a> </li>
                             <li class="sub3"><a href="<TMPL_VAR NAME=main_cgi_url>?section=Workspace">Export Workspace</a> </li>
                         </ul>
                     </li>
</TMPL_IF>
<TMPL_IF NAME=enable_mybins> 
                    <li class="sub" ><a href="<TMPL_VAR NAME=main_cgi_url>?section=MyBins"> My Bins </a></li>
</TMPL_IF>
<TMPL_IF NAME=my_img_3>
                    <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?logout=1"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/door-open-out.png"/> Logout</a></li>
</TMPL_IF>
                </ul>
            </li>


<TMPL_IF NAME=enable_omics>
            <li <TMPL_VAR NAME=highlight_9> ><a href="<TMPL_VAR NAME=main_cgi_url>?section=ImgStatsOverview#tabview=tab3">OMICS</a>
              <ul>
                <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=IMGProteins&page=proteomics">Protein</a></li>
                <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=RNAStudies&page=rnastudies">RNASeq</a></li>
                <li class="sub"><a href="<TMPL_VAR NAME=main_cgi_url>?section=Methylomics&page=methylomics">Methylation</a></li>
              </ul>
            </li>
</TMPL_IF>

            <li <TMPL_VAR NAME=highlight_8> ><a href="<TMPL_VAR NAME=base_url>/doc/about_index.html"> Using <TMPL_VAR NAME=imgAppTerm> </a>
                <ul>
                    <li class="sub2" title="Information about IMG"><a href="<TMPL_VAR NAME=base_url>/doc/about_index.html"><img class="subarrow_left" src="<TMPL_VAR NAME=base_url>/images/ArrowNav_left.gif"/><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/information.png"/> About <TMPL_VAR NAME=imgAppTerm></a>
                        <ul>
                            <li class="sub3" title="IMG Mission"><a href="https://sites.google.com/a/lbl.gov/img-form/using-img/img-mission"> IMG Mission </a> </li>
                            <li class="sub3" title="Frequently Asked Questions"><a href="https://sites.google.com/a/lbl.gov/img-form/faq"> FAQ </a> </li>
                            <li class="sub3" title="Related Links"><a href="https://sites.google.com/a/lbl.gov/img-form/using-img/related-links"> Related Links </a> </li>
                            <li class="sub3" title="Credits"><a href="https://sites.google.com/a/lbl.gov/img-form/using-img/credits"> Credits </a> </li>
                            <li class="sub3" title="documents"><a href="https://sites.google.com/a/lbl.gov/img-form/documents"> IMG Document Archive</a>  </li>                            
                        </ul>
                    </li>
                    <li class="sub2" title="User Guide" ><a href="<TMPL_VAR NAME=base_url>/doc/using_index.html"><img class="subarrow_left" src="<TMPL_VAR NAME=base_url>/images/ArrowNav_left.gif"/><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/question.png"/> User Guide </a>
                        <ul>
                            <li class="sub3" title="System Requirements"><a href="<TMPL_VAR NAME=base_url>/doc/systemreqs.html"><b>System Requirements</b></a> </li>
                            <li class="sub3" title="Contains links to all menu pages and documents"><a href="<TMPL_VAR NAME=main_cgi_url>?section=Help"> Site Map</a> </li>
                            
                            <li class="sub3" ><a href="https://sites.google.com/a/lbl.gov/img-form/using-img/tutorial"> Tutorial</a> </li>
                            
                            <li class="sub3" title="User Interface Map"><a href="<TMPL_VAR NAME=base_url>/doc/images/uiMap.pdf" onClick="_gaq.push(['_trackEvent', 'Document', 'menu', 'ui map']);" > <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/icon_pdf.gif"/> User Interface Map</a> </li>
                            <li class="sub3" title="Single Cell Data Decontamination"><a href="<TMPL_VAR NAME=base_url>/doc/SingleCellDataDecontamination.pdf" onClick="_gaq.push(['_trackEvent', 'Document', 'menu', 'single cell data decon']);"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/icon_pdf.gif"/> Single Cell Data Decontamination</a> </li>
<TMPL_IF NAME=include_metagenomes>
                            <li class="sub3" title="User Manual IMG/M Addendum"><a href="<TMPL_VAR NAME=base_url>/doc/userGuide_m.pdf" onClick="_gaq.push(['_trackEvent', 'Document', 'menu', 'user guide m']);" > <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/icon_pdf.gif"/> IMG/M Addendum</a> </li>
</TMPL_IF>
<TMPL_IF NAME=img_er>
                        <li class="sub3" title="IMG ER Tutorial"><a href="<TMPL_VAR NAME=base_url>/doc/userGuideER.pdf" onClick="_gaq.push(['_trackEvent', 'Document', 'menu', 'user guide er']);"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/icon_pdf.gif"/> IMG ER Tutorial</a> </li>
</TMPL_IF>
                        </ul>
                    </li>
                    <li class="sub2"><a href="<TMPL_VAR NAME=main_cgi_url>?section=Help&page=policypage"><img class="subarrow_left" src="<TMPL_VAR NAME=base_url>/images/ArrowNav_left.gif"/><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/download_icon.png"/>Downloads</a>
                        <ul>
                            <li class="sub3" ><a href="<TMPL_VAR NAME=main_cgi_url>?section=Help&page=policypage"> <b>Data Usage Policy</b> </a> </li>
                            <li class="sub3" title="How to download"><a href="https://groups.google.com/a/lbl.gov/d/msg/img-user-forum/o4Pjc_GV1js/EazHPcCk1hoJ"> <b>How to download</b> </a> </li>
                            <li class="sub3" title="JGI Genome Portal"><a href="http://genome.jgi-psf.org/" onClick="_gaq.push(['_trackEvent', 'Download Data', 'JGI Portal', 'menu']);"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/favicon.ico"/> JGI Genome Portal</a> </li>
                        </ul>
                    </li>
                    <li class="sub"><a href="https://sites.google.com/a/lbl.gov/img-form/using-img/citation">Citation</a></li>
                    <li class="sub" title="Microbial Genome Annotation &amp; Data Integration SOP"><a href="<TMPL_VAR NAME=base_url>/doc/MGAandDI_SOP.pdf" onClick="_gaq.push(['_trackEvent', 'Document', 'menu', 'Data Inegration SOP']);"><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/icon_pdf.gif"/> Microbial Genome SOP</a></li>
<TMPL_IF NAME=include_metagenomes>                    
                    <li class="sub" title="Metagenome Annotation &amp; SOP for IMG"><a href="<TMPL_VAR NAME=base_url>/doc/MetagenomeAnnotationSOP.pdf" onClick="_gaq.push(['_trackEvent', 'Document', 'menu', 'metagenome SOP']);" ><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/icon_pdf.gif"/> Metagenome SOP</a></li>                    
</TMPL_IF>                    
                    <li class="sub"><a href="<TMPL_VAR NAME=base_url>/doc/education.html">Education</a></li>
                    <li class="sub"><a href="https://sites.google.com/a/lbl.gov/img-form/using-img/publication"> Publications</a></li>
                    <li class="sub"><a href="http://www.jgi.doe.gov/meetings/mgm/"> MGM Workshop</a></li>
                    <li class="sub" title="IMG User Forum"><a href="https://sites.google.com/a/lbl.gov/img-form/questions"> <img class="menuimg" src="<TMPL_VAR NAME=top_base_url>images/img-user-forum.png"/> IMG User Forum</a></li>
                    <li class="sub" title="Report bugs or issues"><a href="<TMPL_VAR NAME=main_cgi_url>?page=questions"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/mail.png"/> Report Bugs / Issues</a></li>
                    <li class="sub" title="Contact us"><a href="https://sites.google.com/a/lbl.gov/img-form/contact-us"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/mail.png"/> Contact Us</a></li>
                    <li class="sub"><a href="https://sites.google.com/a/lbl.gov/img-form/using-img/disclaimer"> Disclaimer</a></li>
                </ul>
            </li>            


            <li class="rightmenu2"><a href="http://img.jgi.doe.gov/"> Companion Systems </a>
                <ul>
                    <li class="sub2" title="IMG isolates"><a  href="/w"><img class="subarrow_left" src="<TMPL_VAR NAME=base_url>/images/ArrowNav_left.gif"/><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/img_ico.png"/> IMG </a>
                        <ul>
                            <li class="sub3" title="IMG"><a href="/w"> IMG </a> </li>
                            <li class="sub3" title="IMG Expert Review"><a href="https://<TMPL_VAR NAME=domain_name>/er"> IMG/ER </a> </li>

                            <li class="sub3" title="IMG Education"><a href="/edu"> IMG EDU / ACT </a> </li>
                        </ul>
                    </li>                
                    <li class="sub2" title="IMG Metagenomes"><a  href="/m"> <img class="subarrow_left" src="<TMPL_VAR NAME=base_url>/images/ArrowNav_left.gif"/><img class="menuimg" src="<TMPL_VAR NAME=base_url>/images/img_m_ico.png"/> IMG/M </a>
                        <ul>
                            <li class="sub3" title="IMG/M"><a href="/m"> IMG/M </a> </li>
                            <li class="sub3" title="IMG/M Expert Review"><a href="https://<TMPL_VAR NAME=domain_name>/mer/"> IMG/MER </a> </li>
                            <li class="sub3" title="Human Microbiome Project Metagenome"><a href="http://img.jgi.doe.gov/cgi-bin/imgm_hmp/main.cgi"> IMG/HMP M </a> </li>
                        </ul>
                    </li>                                         
                    <li class="sub" title="Data set submission"><a href="<TMPL_VAR NAME=img_submit_url>"> <img class="menuimg" src="<TMPL_VAR NAME=base_url>/favicon.ico"/> Submit Data Set</a></li>
                </ul>
            </li>  
        </ul>

    </div> <!-- end menu div -->    
    
<div id="myclear"></div>  
<div id="container">  
