<!-- Tree -->
<link rel="stylesheet" type="text/css" href="__base_url__/Hover.css">
<script type="text/javascript" src="__base_url__/Hover.js"></script>
<script type="text/javascript" src="__base_url__/PopupTooltip.js"></script>

<!-- YUI -->
<link rel="stylesheet" type="text/css" href="__yui_url__/build/button/assets/skins/sam/button.css" />
<script type="text/javascript" src="__yui_url__/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="__yui_url__/build/element/element-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/button/button-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/animation/animation-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/container/container-min.js"></script>

<script type="text/javascript">
    function show_detail_info (hid, cid, ids) {
      var id_array = ids.split('|');
      var content = '';
      for (i=0;i<id_array.length;i++) {
	var obj_id = redundancies[hid]['node_'+cid+'_'+id_array[i]];
	content += document.getElementById('tooltip_'+hid+'_'+obj_id).innerHTML;
      }
      document.getElementById('phylo_detail_'+cid).innerHTML = content;
    }

    function updateToolTip (dropDown) {
	var i = dropDown.options.selectedIndex;
        dropDown.title = dropDown[i].title;
    }

</script>

<style type="text/css">
select {
    width:__dropdown_width__;
}

.yui-dt input {
    width:2.4em;
    text-align:right
}

.yui-skin-sam .yui-dialog .yui-panel .hd {
    font-size:12px;
}


.yui-pe .yui-pe-content {
    visibility:hidden;
}

.yui-skin-sam .yui-dialog .ft .button-group {
    font-size:90%;
}
</style>

<script type="text/javascript">
YAHOO.util.Event.onDOMReady(function () {
	// Define various event handlers for Dialog
	var handleSubmit = function() {
	    if (subValidate()) {
		document.popupForm.submit();
	    }
	};

	var handleCancel = function() {
		this.cancel();
	};

    // Remove progressively enhanced content class, just before creating the module
    YAHOO.util.Dom.removeClass("popup_box", "yui-pe-content");

    // Instantiate the Dialog
    var popup_box = new YAHOO.widget.Dialog
                     ("popup_box", 
		      {
			  fixedcenter : true,
			  visible : false,
			  zIndex : 4,
			  constraintoviewport : true,
			  effect:{effect:YAHOO.widget.ContainerEffect.FADE,duration:0.25},
			  buttons : [ { text:"Redraw", handler:handleSubmit, isDefault:true },
				      { text:"Cancel", handler:handleCancel } ]
		      });
	
    document.getElementById("popup_box").style["display"] = "block";
    document.popupForm.viewBy.value = "__viewBy_selection__";
    document.popupForm.colorBy.value = "__colorBy_selection__";
    if (document.popupForm.graph != undefined)
	document.popupForm.graph.value = "__graph__";

    // Render the Dialog
    popup_box.render();
    
    YAHOO.util.Event.addListener("show", "click", popup_box.show, popup_box, true);
});

function subValidate() {
    var treeParam = __tree_param_json__;

    for (var i in treeParam) {
	var min  = treeParam[i]['min' ];
	var max  = treeParam[i]['max' ];
	var text = treeParam[i]['text'];
	var curValue = document.popupForm[i].value;

	if (curValue < min || curValue > max) {
	    alert(text + " needs to be between " + min + " px and " + max + " px");
	    return false;
	}
    }
    return true;
}

function setDropDowns(viewBy, colorBy) {
    var oViewBy  = document.getElementById(viewBy + "-id");
    var oColorBy = document.getElementById(colorBy + "-id");

    var viewByIndex  = oViewBy.selectedIndex  || 0;
    var colorByIndex = oColorBy.selectedIndex || 0;

    // colorBy level needs to be at an equal or 
    // higher level than taxonomic rank
    if (colorByIndex > viewByIndex) {
	oColorBy.selectedIndex = oViewBy.selectedIndex;
	alert("The taxonomic level of 'Color groups by' must be equal to or higher " +
	      "than that of 'Taxonomic rank to view by'.\n\nThe 'Color groups by' " +
	      "setting has been automatically adjusted.");
    }
}
</script>

<div id="popup_box" class="yui-pe-content" style="display:none">
<div class="hd">Customize Tree</div>
<div class="bd">
<form name="popupForm" method="POST" action="__main_cgi__">
__popup_content__
</form>
</div>
</div>
