<style>
span.TreeviewSpanArea a {
   font-size: 8pt;
   font-family: verdana, helvetica; 
   /* --es 03/22/2007
   font-family: Arial, Helvetica, sans-serif
   */
   text-decoration: none;
   color: black;
}
spanTreeviewSpanArea a:hover {
   color: ''#820082';
}
body {
   background-color: white;
}
/* Suprecedes styles from img.css -BSJ 04/01/2010
td {
   font-size: 10pt;
   font-family: verdana, helvetica;
}
*/

table.ftv { border: 0px; padding: 0; }
td.ftv { padding: 0px 0px; border: 0px; }
tr.ftv {  }
</style>

<table class='ftv'>
<tr class='ftv'><td class='ftv'>Taxonomy Browser</td></tr>
</table>

<script src="__base_url__/ua.js"></script>
<script src="__base_url__/ftiens4.js"></script>
__taxonNodeJs__

<!-- table1 -->
<table class='ftv' cellpadding=0 cellspacing=5 border=0 valign='top'>
<!-- t1.r1 -->
<tr class='ftv' valign='top'>

<td bgcolor=white>
   <!-- table2 -->
   <table class='ftv' cellspacing=0 cellpadding=2 border=0 width=100%>
   <!-- t2.r1 -->
   <tr class='ftv'>
   <td bgcolor=white>

<!-- SECTION 6: Build the tree. -->
<!-- By making any changes to this code you are violating your user agreement.
     Corporate users or any others that want to remove the link should check
         the online FAQ for instructions on how to obtain a version without the link -->
       <!-- Removing this link will make the script stop from working -->
       <!-- table3 -->
       <table class='ftv'>
       <!-- t3.r1 -->
       <tr class='ftv'>
       <td valign='top'>
       <font size=-2><a style="font-size:2pt;text-decoration:none;color:silver" href="http://www.treemenu.net/" target=_blank>Treeview Menu</a></font>
       </td>
       </tr>
       <!-- t3.r1 end -->
       </table>
       <!-- table3 end -->
<div id='tree'
  style='border: 1px solid black; width: 300px; height: 300px; overflow: auto;'
>
       <span class=TreeviewSpanArea>
       <script>initializeDocument()</script>
  </div> 
       </span>

<!-- SECTION 7: Continuation of the body of the page, after the tree. Replace whole section with
your site's HTML. -->

    </td>
    <!-- t2.r1 end -->
    </tr>
    <!-- table2 end -->
    </table>
</div>
<br/>
<td bgcolor=white valign=top>
<div id='taxonSelections'>
</div>
</td>
<!-- t1.r1 end -->
</tr>
</table> 
<!-- table1 end -->

